
@{
    ViewBag.Title = "SMRVinLiveForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/public/liveReportCSS/custom.css" rel="stylesheet" />

<style>
    .scroll {
        width: 20px;
        height: 12px;
        overflow: auto;
        margin: 0 10px;
    }

    .scroll4::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }

    .scroll4::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }

    .scroll4::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
    }

    .panel-heading {
        cursor: pointer;
    }

    div#container {
        height: 400px;
        width: 400px;
        border: 2px solid #000;
        overflow: scroll;
    }

    .accordion-toggle:after {
        font-family: 'FontAwesome';
        content: "\f077";
        float: right;
        color: inherit;
    }

    .panel-heading.collapsed .accordion-toggle:after {
        content: "\f078";
    }

    .box-body {
        padding: 0px;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
    }

    #slideOut {
        position: fixed;
        width: 230px;
        height: 800px;
        top: 147px;
        right: -230px;
        /* Animation  */
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        z-index: 999;
    }


    /* Display slideOut */

    .showSlideOut {
        right: 0px !important;
    }


    /* Tab */

    .slideOutTab {
        margin-top: 50px;
        position: absolute;
        left: -40px;
        height: 200px;
        width: 40px;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        background: #F2AB34;
        border-radius: 15px 0px 0px 15px
    }

        .slideOutTab div {
            text-align: center;
            position: relative;
            right: 70px;
            top: 90px;
            background: #F2AB34;
            width: 180px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            writing-mode: lr-tb;
        }

    .modal-content {
        height: 370px;
        background-color: white;
    }

    .modal-body {
        height: 400px;
    }

    h2 {
        font-size: 18px;
    }

    .dbbgcolor1 {
        background-color: #03a9f4;
    }

    .dbbgcolor2 {
        background-color: #ffc107;
    }

    .dbbgcolor3 {
        background-color: #d559ea;
    }

    .dbbgcolor4 {
        background-color: #ff5652;
    }

    .dbbgcolor5 {
        background-color: #69afff;
    }

    .dbbgcolor6 {
        background-color: #4edec1;
    }

    .dbbgcolor7 {
        background-color: #ffc107;
    }

    .dbbgcolor8 {
        background-color: #d559ea;
    }

    .dbbgcolor9 {
        background-color: #ff5652;
    }

    ul.multiselect-container.dropdown-menu {
        height: 121px;
        overflow: auto;
    }

    .tile-stats span {
        margin-top: 5px;
        font-size: 12px;
    }

    .boxes {
        margin: 6px;
    }

    .x_title h2 {
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    #myTab {
        margin-bottom: 0px;
    }

        #myTab > li {
            /* width: 110px;
        word-wrap: break-word;*/
            border-bottom: 2px solid #fff;
        }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 3px;
        line-height: 1;
        vertical-align: top;
        border-top: 1px solid #ddd;
        color: #000 !important;
        font-size: 13px;
        background-color: #fff;
    }

    .dataTables_length,
    .dataTables_filter,
    .dataTables_info {
        font-size: 12px;
    }

    /*tbody,th{
      text-align: center;
    }*/

    .btn {
        display: inline-block;
        /* padding: 0px 10px;  */
        margin-bottom: 0;
        font-size: 12px;
    }

    .nav-tabs > li > a:hover {
        border-color: #b14b4b #b93131 #b33;
        color: #000;
    }

    .html5buttons {
        display: none;
    }
    /* @@media only screen and(max-width:768px;){
        #Banus{
        font-size: 8px!important;

        }
    } */
</style>

<div class="col-md-12 text-center" style="padding:1px;">
    <button class="btn btn-info btn-xs pull-center" style="text-align:center;" type="submit" onclick="return loadFordVINAssignedChartDetails(1); ">&nbsp;Refresh</button>

    <p <button class="btn btn-primary btn-xs pull-right">
				<a style="text-align: center; cursor:pointer; color:#fff" data-toggle="modal" data-target="#myModal1">Filter Selection</a>
				</button>
			</p>
</div>
	</br>
<!-- 	<marquee style="color:red;cursor:pointer" onmouseover="this.stop();" onmouseout="this.start();">*- Call Sync is a continuous process. Final ‘Call Duration’ will be updated at end of business hours</marquee> -->

<div class="modal fade" id="myModal1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;background-color: #106A86;color: #fff;">
                <button type="button" class="close" data-dismiss="modal" style="opacity:2;">
                    <img src="~/public/images/close1.png" alt="X">
                </button>
                <h4 class="modal-title">SMR VIN Data Filter</h4>
            </div>
            <div class="modal-header" style="padding: 2px;">
                <button class="btn btn-info btn-xs pull-right" type="submit" onclick="return loadFordVINAssignedChartDetails(1);">&nbsp;Clear All</button>
                </br>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>AssignDate From</label>
                                <input id="txtRangeFromDate1" readonly type="text" class="datepickerfrom1 form-control input-sm ">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>AssignDate To</label>
                                <input id="txtRangeToDate1" readonly type="text" class="datepickerto1 form-control input-sm  ">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label>Campaign Name</label>
                            <div class="form-group">
                                <select class="selectpickerAll form-control" name="MTDCampaign1" id="MTDCampaign1" multiple>

                                    @*@for ((k, v) < -camp)
                                        {
                                            <option value="@k">@v</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label>CRE Name</label>
                            <div class="form-group">
                                <select class="selectpickerAll form-control" name="LLModel1" id="LLModel1" multiple>
                                    @*@for ((k, v) < -modelLL)
                                        {
                                            <option value="@k">@v</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="modal-footer" style="padding: 2px;margin-top:50px">
                        <label class="checkbox-inline"><input type="checkbox" id="myCheck" value="">For Vin & ChangeAssignment Raw data Click here</label>
                        <h5><b style="color:red">Note:- </b>Data Available Up To 6 Months</h5>
                        <div class="row">
                            <div class="col-xs-4 pull-right">
                                <div class="form-group">
                                    <button class="btn btn-success" data-dismiss="modal" id="tblDate" onclick="getDateRangeVinFordChangedAssignedTable();getResultBasedVINFordChangedAssigned('Wyzuser_id','','LLModel1');getResultBasedVINFordChangedAssigned('CampaignName','','MTDCampaign1');getChartFordVINAssigned();">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="agent_id" value=""></input>
<input type="hidden" id="user_role" value=""></input>


<div class="row" id="CREHide1">
    <div id="show_tblFordTotalVinSummaryCRELive" style="display:block">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="x_panel">
                    <div class="x_title">
                        <b>
                            Total VIN Summary
                        </b>
                        <ul class="nav navbar-right panel_toolbox">
                            <li onclick="exportThisWithParameter('tblFordTotalVinSummaryCRELive_wrapper', 'SMR (N-1)th Day CRELive')" style="cursor: pointer;margin-top: 5px;font-size: 15px;">
                                &nbsp;
                                <span id="tblFordTotalVinSummaryCRELive_excel" style="margin-top: -20px;display: none;">
                                </span>
                            </li>
                            <li>
                                <a id="tblFordTotalVinSummaryCRELive_xl"></a>
                            </li>
                            <li>
                                <a class="collapse-link">
                                    <button id="tblFordTotalVinSummaryCRELive_toggle" type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 2px;" onclick="callHideShowFunction('tblFordTotalVinSummaryCRELive')">
                                        hide
                                    </button>
                                </a>
                            </li>
                            <li>
                                <span id="tblFordTotalVinSummaryCRELive_stl" style='display: block;'>
                                    <button type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 5px;" onclick="return ugetTableDataFordVINAssigned('tblFordTotalVinSummaryCRELive')">
                                        show
                                    </button>
                                </span>
                            </li>
                        </ul>
                        <div id="gif_tblFordTotalVinSummaryCRELive" class="overlay" style="display:none">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table id="tblFordTotalVinSummaryCRELive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                                <thead>

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="show_tblFordVinSummaryCRELive" style="display:block">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="x_panel">
                    <div class="x_title">
                        <b>
                            CREWise VIN Attempted CallsSummary
                        </b>
                        <ul class="nav navbar-right panel_toolbox">
                            <li onclick="exportThisWithParameter('tblFordVinSummaryCRELive_wrapper', 'SMR (N-1)th Day CRELive')" style="cursor: pointer;margin-top: 5px;font-size: 15px;">
                                &nbsp;
                                <span id="tblFordVinSummaryCRELive_excel" style="margin-top: -20px;display: none;">
                                </span>
                            </li>
                            <li>
                                <a id="tblFordVinSummaryCRELive_xl"></a>
                            </li>
                            <li>
                                <a class="collapse-link">
                                    <button id="tblFordVinSummaryCRELive_toggle" type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 2px;" onclick="callHideShowFunction('tblFordVinSummaryCRELive')">
                                        hide
                                    </button>
                                </a>
                            </li>
                            <li>
                                <span id="tblFordVinSummaryCRELive_stl" style='display: block;'>
                                    <button type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 5px;" onclick="return ugetTableDataFordVINAssigned('tblFordVinSummaryCRELive')">
                                        show
                                    </button>
                                </span>
                            </li>
                        </ul>
                        <div id="gif_tblFordVinSummaryCRELive" class="overlay" style="display:none">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table id="tblFordVinSummaryCRELive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                                <thead>

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show_tblFordVinSummaryCampaignLive" style="display:block">
    <div class="row" id="CREHide1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="x_panel">
                    <div class="x_title">
                        <b>
                            CampaignWise VIN Attempted CallsSummary
                        </b>
                        <ul class="nav navbar-right panel_toolbox">
                            <li onclick="exportThisWithParameter('tblFordVinSummaryCampaignLive_wrapper', 'SMR (N-1)th Day CRELive')" style="cursor: pointer;margin-top: 5px;font-size: 15px;">
                                &nbsp;
                                <span id="tblFordVinSummaryCampaignLive_excel" style="margin-top: -20px;display: none;">
                                </span>
                            </li>
                            <li>
                                <a id="tblFordVinSummaryCampaignLive_xl"></a>
                            </li>
                            <li>
                                <a class="collapse-link">
                                    <button id="tblFordVinSummaryCampaignLive_toggle" type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 2px;" onclick="callHideShowFunction('tblFordVinSummaryCampaignLive')">
                                        hide
                                    </button>
                                </a>
                            </li>
                            <li>
                                <span id="tblFordVinSummaryCampaignLive_stl" style='display: block;'>
                                    <button type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 5px;" onclick="return ugetTableDataFordVINAssigned('tblFordVinSummaryCampaignLive')">
                                        show
                                    </button>
                                </span>
                            </li>
                        </ul>
                        <div id="gif_tblFordVinSummaryCampaignLive" class="overlay" style="display:none">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table id="tblFordVinSummaryCampaignLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                                <thead>

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="CREHide1">
    <div id="show_tblFordTotalchangeVinSummaryCRELive" style="display:block">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="x_panel">
                    <div class="x_title">
                        <b>
                            Total ChangeAssignment Summary
                        </b>
                        <ul class="nav navbar-right panel_toolbox">
                            <li onclick="exportThisWithParameter('tblFordTotalchangeVinSummaryCRELive_wrapper', 'SMR (N-1)th Day CRELive')" style="cursor: pointer;margin-top: 5px;font-size: 15px;">
                                &nbsp;
                                <span id="tblFordTotalchangeVinSummaryCRELive_excel" style="margin-top: -20px;display: none;">
                                </span>
                            </li>
                            <li>
                                <a id="tblFordTotalchangeVinSummaryCRELive_xl"></a>
                            </li>
                            <li>
                                <a class="collapse-link">
                                    <button id="tblFordTotalchangeVinSummaryCRELive_toggle" type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 2px;" onclick="callHideShowFunction('tblFordTotalchangeVinSummaryCRELive')">
                                        hide
                                    </button>
                                </a>
                            </li>
                            <li>
                                <span id="tblFordTotalchangeVinSummaryCRELive_stl" style='display: block;'>
                                    <button type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 5px;" onclick="return ugetTableDataFordVINAssigned('tblFordTotalchangeVinSummaryCRELive')">
                                        show
                                    </button>
                                </span>
                            </li>
                        </ul>
                        <div id="gif_tblFordTotalchangeVinSummaryCRELive" class="overlay" style="display:none">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table id="tblFordTotalchangeVinSummaryCRELive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                                <thead>

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="show_tblFordChangeVinSummaryCRELive" style="display:block">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="x_panel">
                    <div class="x_title">
                        <b>
                            CREWise ChangeAssignment Attempted CallsSummary
                        </b>
                        <ul class="nav navbar-right panel_toolbox">
                            <li onclick="exportThisWithParameter('tblFordChangeVinSummaryCRELive_wrapper', 'SMR (N-1)th Day CRELive')" style="cursor: pointer;margin-top: 5px;font-size: 15px;">
                                &nbsp;
                                <span id="tblFordChangeVinSummaryCRELive_excel" style="margin-top: -20px;display: none;">
                                </span>
                            </li>
                            <li>
                                <a id="tblFordChangeVinSummaryCRELive_xl"></a>
                            </li>
                            <li>
                                <a class="collapse-link">
                                    <button id="tblFordChangeVinSummaryCRELive_toggle" type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 2px;" onclick="callHideShowFunction('tblFordChangeVinSummaryCRELive')">
                                        hide
                                    </button>
                                </a>
                            </li>
                            <li>
                                <span id="tblFordChangeVinSummaryCRELive_stl" style='display: block;'>
                                    <button type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 5px;" onclick="return ugetTableDataFordVINAssigned('tblFordChangeVinSummaryCRELive')">
                                        show
                                    </button>
                                </span>
                            </li>
                        </ul>
                        <div id="gif_tblFordChangeVinSummaryCRELive" class="overlay" style="display:none">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table id="tblFordChangeVinSummaryCRELive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                                <thead>

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show_tblFordchangeVinSummaryCampaignLive" style="display:block">
    <div class="row" id="CREHide1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="x_panel">
                    <div class="x_title">
                        <b>
                            CampaignWise ChangeAssignment Attempted CallsSummary
                        </b>
                        <ul class="nav navbar-right panel_toolbox">
                            <li onclick="exportThisWithParameter('tblFordchangeVinSummaryCampaignLive_wrapper', 'SMR (N-1)th Day CRELive')" style="cursor: pointer;margin-top: 5px;font-size: 15px;">
                                &nbsp;
                                <span id="tblFordchangeVinSummaryCampaignLive_excel" style="margin-top: -20px;display: none;">
                                </span>
                            </li>
                            <li>
                                <a id="tblFordchangeVinSummaryCampaignLive_xl"></a>
                            </li>
                            <li>
                                <a class="collapse-link">
                                    <button id="tblFordchangeVinSummaryCampaignLive_toggle" type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 2px;" onclick="callHideShowFunction('tblFordchangeVinSummaryCampaignLive')">
                                        hide
                                    </button>
                                </a>
                            </li>
                            <li>
                                <span id="tblFordchangeVinSummaryCampaignLive_stl" style='display: block;'>
                                    <button type="button" class="btn btn-primary btn-xs pull-right"
                                            style="margin-top: 5px;" onclick="return ugetTableDataFordVINAssigned('tblFordchangeVinSummaryCampaignLive')">
                                        show
                                    </button>
                                </span>
                            </li>
                        </ul>
                        <div id="gif_tblFordchangeVinSummaryCampaignLive" class="overlay" style="display:none">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table id="tblFordchangeVinSummaryCampaignLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                                <thead>

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts
        {
    @Scripts.Render("~/bundles/liveRptJqury")




    <Script>

	    $(document).ready(function(){
	     $('.selectpickerAll').multiselect({

		 allSelectedText: 'All',
		enableFiltering : true,
		enableCaseInsensitiveFiltering : true,
		numberDisplayed : 1,
		buttonWidth : '140px',
		maxHeight : 250,
		includeSelectAllOption : true


	});
	  loadFordVINAssignedChartDetails(0);

	    this.$slideOut = $('#slideOut');

// Slideout show
this.$slideOut.find('.slideOutTab').on('click', function() {
  $("#slideOut").toggleClass('showSlideOut');
});
});

$(document).ready(function () {

$(".datepickerfrom1").datepicker({
	dateFormat: 'yy-mm-dd',
	changeMonth: true,
	changeYear: true,
	maxDate: 0,
	minDate:-185,

	onSelect: function () {
		var datepickerto1 = $('.datepickerto1');
		var startDate = $(this).datepicker('getDate');
		var minDate = $(this).datepicker('getDate');
		var dt2Date = datepickerto1.datepicker('getDate');
		//difference in days. 86400 seconds in day, 1000 ms in second
		var dateDiff = (dt2Date - minDate) / (86400 * 1000);

		startDate.setDate(startDate.getDate() + 185);
		if (dt2Date == null || dateDiff < 0) {
			datepickerto1.datepicker('setDate', minDate);
		}
		else if (dateDiff > 185) {
			datepickerto1.datepicker('setDate', startDate);
		}
		//sets dt2 maxDate to the last day of 185 days window
		datepickerto1.datepicker('option', 'maxDate', 0);
		datepickerto1.datepicker('option', 'minDate', minDate);
	}
});
$('.datepickerto1').datepicker({
	dateFormat: 'yy-mm-dd',
	changeMonth: true,
	changeYear: true,
	maxDate: 0,
	minDate:-185,

});
});












									$(document)
											.ready(
													function() {
													var	n =  new Date();
													var y = n.getFullYear();
													var m = n.getMonth() + 1;
													var d = n.getDate();
													if(m < 10 ){
														m="0"+m;

													}
													if(d < 10){
														d="0"+d;
													}
													var curdate = d + "-" + m + "-" + y;
														var loginperson = "@@username";
														var username = "@@username";
														var user_role="@@user_role";
														$("#Banus").text("Attempt VS Not Attempt")
														document.getElementById("user_name").innerText = username;
        												document.getElementById("user_name").innerHtml = username;
        											//	document.getElementById("dealer_name").innerHtml = dealer_name;
        												if(user_role === "CRE"){
															$('.crehideshow').hide();
															$('#CREHide').hide();
															$('#CREHide1').hide();

														}

        											if (loginperson == "Admin") {
															$('#divRegions')
																	.show();
															$('#TLDashboard1')
																	.hide();
															$('#TLDashboard2')
																	.hide();
															$('#TLDashboard3')
																	.hide();
															$('#TLDashboard4')
																	.hide();
															$('#TLDashboard5')
																	.hide();
															$('#AgentDashboard')
																	.hide();
															$(
																	'#AgentDigiCallDashboard')
																	.show();
															$(
																	'#AsstManagerDigiCallDashboard')
																	.show();
															$('#TLDashboard')
																	.hide();
															$('.AdminID')
																	.show();
															$('#FeedBackForm')
																	.show();
															$('#ComplaintForm')
																	.show();
															$('#PostUpdate')
																	.show();
															$('#ProcessUpdate')
																	.show();

														} else if (loginperson == "Supervisor") {
															$('#divRegions')
																	.hide();
															if (username === "Senior Director1") {
																$(
																		'#TLDashboard2')
																		.show();
																$(
																		'#TLDashboard')
																		.hide();
																$(
																		'#TLDashboard5')
																		.hide();
															} else if (username === "Manager1") {
																$(
																		'#TLDashboard2')
																		.hide();
																$(
																		'#TLDashboard')
																		.hide();
																$(
																		'#TLDashboard5')
																		.show();
															} else {
																$(
																		'#TLDashboard2')
																		.hide();
																$(
																		'#TLDashboard')
																		.show();
																$(
																		'#TLDashboard5')
																		.hide();
															}
															$('#TLDashboard1')
																	.hide();
															$('#TLDashboard3')
																	.hide();
															$('#TLDashboard4')
																	.hide();
															$('#AgentDashboard')
																	.hide();
															$('.AdminID')
																	.hide();
															$('#FeedBackForm')
																	.show();
															$('#ComplaintForm')
																	.hide();
															$('#PostUpdate')
																	.show();
															$('#ProcessUpdate')
																	.show();
														} else if (loginperson == "Agent") {
															$('#divRegions')
																	.hide();
															$('#TLDashboard1')
																	.hide();
															$('#TLDashboard2')
																	.hide();
															$('#TLDashboard3')
																	.hide();
															$('#TLDashboard4')
																	.hide();
															$('#TLDashboard5')
																	.hide();
															$(
																	'#AgentDigiCallDashboard')
																	.show();
															$('#TLDashboard')
																	.hide();
															$('.AdminID')
																	.hide();
															$('#FeedBackForm')
																	.show();
															$('#ComplaintForm')
																	.show();
															$('#PostUpdate')
																	.hide();
															$('#ProcessUpdate')
																	.show();
														}

														//ajaxGetTables();
														//	else 	{
														//
														//	  	$('.AdminID').hide();
														//                $('#UserCreationID').hide();
														//                $('#DataManagemenID').hide();
														//                $('#CaseStatusID').hide();
														//             }

													});
    </Script>
    <script>
        //$(function () {
        // $('select#regions').listbox({'searchbar': true});
        // $('select#country').listbox({'searchbar': true});
        // });
    </script>


    <script>
        function callHideShowFunction(TableId) {
            var change = document.getElementById(TableId + '_toggle');
            if (change.innerHTML == "show") {
                change.innerHTML = "hide";
            } else {
                change.innerHTML = "show";
            }
        }
    </script>
}




