@model AutoSherpa_project.Models.ViewModels.CallLoggingViewModel

@*<div class="panel panel-primary">
    <div class="panel-heading" align="center" ; style="background-color:#1797be;">
        <img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px" />&nbsp;<b>PSF Disposition Form</b>
    </div>*@

<style>
    .heading {
        font-weight: bold;
    }

    body {
        counter-reset: my-sec-counter;
    }

    .countQus::before {
        counter-increment: my-sec-counter;
        content: " " counter(my-sec-counter) ". ";
    }
</style>
@Html.TextBoxFor(m => m.PsfCreBucketId, new { @type = "hidden" })

<div class="panel-body">
    <div class="col-md-12">
        <div class="form-group">

            <div id="PSFconnectCall1">
                <label for=""><b>Are you able to connect with the customer ?</b></label>
                <br>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.indusPsfInteraction.isContacted, "Yes", new { @Value = "Yes" })
                        @*<input type="radio" name="isContacted" value="PSF Yes" id="">*@
                        Yes
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        @Html.RadioButtonFor(m => m.indusPsfInteraction.isContacted, "No", new { @Value = "No" })
                        @*<input type="radio" name="isContacted" value="PSF No" id="">*@
                        No
                    </label>
                </div>
            </div>
            <div style="display:none;" class="row animated  bounceInRight" id="PSFYesTalk">
                @if (ViewBag.isResolved != true)
                {
                    <div class="col-md-12">
                        <p>Namaskar ! I am <b>@Model.wyzuser.userName</b></p>
                        <p>We want to take your feedback on the performance of your <b>@Model.vehi.model</b>, <b>@Model.vehi.vehicleRegNo</b> </p>
                        <div class="radio-inline">
                            <label>
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.whatCustSaid, "PSF_Yes", new { @Value = "PSF_Yes", @id = "psfYesNamaskarbtn" })
                                Feedback Provided
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.whatCustSaid, "Not Interested", new { @Value = "Not Interested", @id = "PSFNotInterested" })
                                Feedback Denied
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.whatCustSaid, "Call Me Later", new { @Value = "Call Me Later", @id = "PSFNoNamaskarbtn" })
                                Call Back Later
                            </label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <p class="p-2">
                            <b>Namaskar! I am </b><i>@Model.wyzuser.userName</i>
                            <b>We want to take your feedback on the performance of your </b>@Model.vehi.model, @Model.vehi.vehicleRegNo
                        </p>
                        <div class="radio-inline">
                            <label>
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.whatCustSaid, "ConfirmStatus", new { @class = "used" })
                                Confirm status of Issue Resolution
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.whatCustSaid, "Call Me Later ", new { @Value = "Call Me Later", @id = "PSFNoNamaskarbtn" })
                                Call Back Later
                            </label>
                        </div>
                    </div>
                }

            </div>

            @*-------- NonContact Division ----------------*@
            <div style="display:none;" class="row animated  bounceInRight" id="PSFNotSpeachDiv">
                <br>
                <div class="col-md-12">
                    <br>
                    <label for=""><b>Choose reason for not being able to talk to customer:</b></label>
                    <br>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.indusPsfInteraction.PSFDisposition, "Ringing No response", new { @Value = "Ringing No response" })
                            @*<input type="radio" name="PSFDispositon" value="Ringing No response" id="">*@
                            Ringing No response
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.indusPsfInteraction.PSFDisposition, "Busy", new { @Value = "Busy" })
                            @*<input type="radio" name="PSFDispositon" value="Busy" id="">*@
                            Busy
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.indusPsfInteraction.PSFDisposition, "Switched Off / Unreachable", new { @Value = "Switched Off / Unreachable" })
                            @*<input type="radio" name="PSFDispositon" value="Switched Off / Unreachable" id="">*@
                            Switched Off / Unreachable
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.indusPsfInteraction.PSFDisposition, "Invalid Number", new { @Value = "Invalid Number" })
                            @*<input type="radio" name="PSFDispositon" value="Invalid Number" id="">*@
                            Invalid Number
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButtonFor(m => m.indusPsfInteraction.PSFDisposition, "NoOther", new { @Value = "NoOther" })
                            @*<input type="radio" name="PSFDispositon" value="NoOther" id="NOOthersCheck">*@
                            Other
                        </label>
                    </div>


                    <div class="row animated  bounceInRight" id="PSFNoOthers" style="display:none;">
                        <div class="col-md-3">
                            <label><b>Remarks</b></label>
                            @Html.TextAreaFor(m => m.indusPsfInteraction.OtherComments, new { @class = "form-control characterLimit remarks1", @rows = "1" })
                            @*<textarea type="text" class="form-control characterLimit" rows="1" name="OtherComments"></textarea*@
                        </div>
                    </div>

                    <div class="row animated  bounceInRight" style="display:none;" id="PSFOtherDivShow">
                        <div class="col-md-4">
                            <label><b>Please Specify</b></label>
                            @Html.TextAreaFor(m => m.indusPsfInteraction.OtherComments, new { @class = "form-control textOnlyAccepted characterLimit remarks1", @rows = "2" })
                        </div>
                    </div>
                    <div class="pull-right">

                        <button type="submit" class="btn btn-info" id="talkCustomerSubmit">Submit</button>
                    </div>
                </div>
            </div>

            @if (ViewBag.isResolved != true)
            {

                <div style="display:none;" class="row animated  bounceInRight" id="PSFYesNamaskarYesDiv">
                    <div class="col-md-12">

                        <p style="margin-left:-10px;font-weight:bold;">@Session["OEM"].ToString() introduced new rating system with the scale of 1 to 5, where 5 stands for Excellent, 4 - Very Good, 3 - Good, 2 - Fair, 1 - Poor.  Please rate us accordingly for these questions. *</p>
                        <div class="row animated  bounceInRight" id="PsfSelfDriveInNo1">
                            <p style="margin-left:15px;" class="heading">
                                <label class="countQus"> </label>

                                @if (ViewBag.CustCategory != "BODYSHOP")
                                {
                                    @:Keeping in mind your interactions and experiences at our Service Center, how would you rate @Session["DealerCode"].ToString() among the competitive dealers?
                                }
                                else
                                {
                                    @:Keeping in mind your interactions and experiences at our Body Repair Centre, How would you rate @Session["DealerCode"].ToString() among the competitive dealers ?
                                }
                            </p>
                            <div class="col-md-7">
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.modeOfServiceDone, "150", new { @style = "margin-left:15px;", @class = "controlBtn stRd" })&nbsp; Excellent (150)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.modeOfServiceDone, "100", new { @style = "margin-left:15px;", @class = "controlBtn stRd" })&nbsp; Very Good (100)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.modeOfServiceDone, "50", new { @style = "margin-left:15px;", @class = "controlBtn stRd" }) &nbsp; Good (50)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.modeOfServiceDone, "0", new { @style = "margin-left:15px;", @class = "controlBtn stRd" }) &nbsp; Fair (0)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.modeOfServiceDone, "-50", new { @style = "margin-left:15px;", @class = "controlBtn stRd" }) &nbsp; Poor (-50)
                            </div>

                            <div class="col-md-3" style="display:none;" id="complaintCRESelect">
                                <label>Complaint Manager : </label>
                                @if (ViewBag.complaintCre != null)
                                {
                                    @Html.DropDownListFor(m => m.compInteractions.complaint_creid, new SelectList(ViewBag.complaintCre, "id", "name"), "--Select--", new { @class = "form-control", @id = "creComplaintCRE" })
                                }
                                @*<select class="form-control" id="creComplaintCRE" name="complaint_creid">
                    <option value="0">--Select--</option>
                </select>*@
                            </div>
                        </div>

                        @if (ViewBag.CustCategory != "BODYSHOP")
                        {
                            <div class="row animated  bounceInRight" style="margin-top:25px;">
                                <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How do you rate your initial experience and appointment process from the service reminder to till the vehicle visited to our Service Center? Even explain us on how was our service team approach, your wait time, was this appointment system helpful?</p>
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ1, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ1, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ1, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ1, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ1, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                                </div>
                            </div>
                        }

                        @if (ViewBag.CustCategory == "BODYSHOP")
                        {
                            <div class="row animated  bounceInRight" style="margin-top:25px;">
                                <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> Is your vehicle body repair done through Insurance or self-paid?</p>
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.bodyrepairthrough, "Insurance", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Insurance
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.bodyrepairthrough, "Self-paid", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Self-paid
                                </div>
                            </div>
                           
                            <div class="row animated  bounceInRight" style="margin-top:25px;">
                                If Insurance:-
                                <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How do you rate overall experience on insurance claim start from the claim intimation, estimation, vehicle survey, insurance coverage, etc?</p>
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.experienceOnIns, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.experienceOnIns, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.experienceOnIns, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.experienceOnIns, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.experienceOnIns, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                                </div>
                            </div>
                        }

                        <div class="row animated  bounceInRight" style="margin-top:25px;">
                            <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How do you rate our service advisor based on SA's ability to listen, understanding, attention, time spent, behavior, explanation, etc.?</p>
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ2, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ2, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ2, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ2, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ2, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                            </div>
                        </div>

                        @if (ViewBag.CustCategory != "BODYSHOP")
                        {
                            <div class="row animated  bounceInRight" style="margin-top:25px;">
                                <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How do you rate the quality of the work performed on your vehicle?</p>
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ3, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ3, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ3, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ3, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ3, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                                </div>
                            </div>
                        }

                        @if (ViewBag.CustCategory == "BODYSHOP")
                        {
                            <div class="row animated  bounceInRight" style="margin-top:25px;">
                                <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How do you rate the quality of the painting & denting work performed on your vehicle</p>
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qualityofwork, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qualityofwork, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qualityofwork, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qualityofwork, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qualityofwork, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                                </div>
                            </div>
                        }

                        <div class="row animated  bounceInRight" style="margin-top:25px;">
                            <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> Ask customer if rated Good, Fair & Poor. Could you please state the reason for the same?</p>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.indusPsfInteraction.afterServiceComments, new { @class = "form-control characterLimit", @style = "margin-left:5px;", @rows = '2' })
                            </div>
                        </div>

                        @if (ViewBag.CustCategory != "BODYSHOP")
                        {
                            <div class="row animated  bounceInRight" style="margin-top:25px;">
                                <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How do you rate the washing & cleanliness of your vehicle?</p>
                                <div class="col-md-6">
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ5, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ5, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ5, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ5, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ5, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                                </div>
                            </div>
                            <div class="row animated  bounceInRight" style="margin-top:25px;">
                                <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How do you rate "Value for Money" of our service?</p>
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ6, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ6, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ6, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ6, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                    @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ6, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                                </div>
                            </div>
                        }
                        <div class="row animated  bounceInRight" style="margin-top:25px;">
                            <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> How strongly would you recommend @Session["DealerCode"].ToString() to a friends, colleague or relatives?</p>
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ7, "150", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Excellent (150)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ7, "100", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp; Very Good (100)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ7, "50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Good (50)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ7, "0", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Fair (0)
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ7, "-50", new { @style = "margin-left:15px;", @class = "controlBtn" }) &nbsp; Poor (-50)
                            </div>
                        </div>
                        <div class="row animated  bounceInRight" style="margin-top:25px;">
                            <p style="margin-left:15px;" class="heading"><label class="countQus"> </label> Which of the following do you think we need an  improvement in our service center?</p>
                            @Html.TextBoxFor(m => m.indusPsfInteraction.qM2_ReasonOfAreaOfImprovement, new { @id = "hdImprovement", @type = "hidden" })
                            @if (ViewBag.CustCategory != "BODYSHOP")
                            {
                                <div class="col-md-3">
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Service Advisor" name="improve" />&nbsp;Service Advisor<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Vehicle Entry Experience" name="improve">&nbsp;Vehicle Entry Experience<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Service Quality" name="improve" />&nbsp;Service Quality<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Washing Quality" name="improve" />&nbsp;Washing Quality<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Timely Delivery" name="improve" />&nbsp;Timely Delivery<br>`
                                </div>
                                <div class="col-md-3">
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Service Charges" name="improve" />&nbsp;Service Charges<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Service Facility" name="improve" />&nbsp;Service Facility<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Appointment System" name="improve" />&nbsp;Appointment System<br>
                                    <input style="margin-left:15px;" type="checkbox" class="clsImprove" value="Customer Care" name="improve" />&nbsp;Customer Care<br>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Service Advisor" name="improve" />&nbsp;Service Advisor<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Claim Process" name="improve">&nbsp;Claim Process<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Paint Quality" name="improve" />&nbsp;Paint Quality<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Vehicle Body Alignment" name="improve" />&nbsp;Vehicle Body Alignment<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Quality of Dent Removal Process" name="improve" />&nbsp;Quality of Dent Removal Process<br>
                                </div>
                                <div class="col-md-3">
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Timely Delivery" name="improve" />&nbsp;Timely Delivery<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Estimation Charges" name="improve" />&nbsp;Estimation Charges<br>
                                    <input style="margin-left:15px;margin-bottom: 7px;" type="checkbox" class="clsImprove" value="Service Facility" name="improve" />&nbsp;Service Facility<br>
                                    <input style="margin-left:15px;" type="checkbox" class="clsImprove" value="Customer Care" name="Customer Care" />&nbsp;Customer Care<br>
                                </div>
                            }
                        </div>
                        <div class="row animated  bounceInRight" style="margin-top:25px;">
                            <p style="margin-left:15px;" class="heading"><label class="countQus"> </label>  Who is this complaint attributed to?</p>
                            <div class="col-md-8">
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ9, "Service Advisor and Technician", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp;Service Advisor and Technician
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ9, "Only Service Advisor", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp;Only Service Advisor
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ9, "Workshop", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp;Workshop
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ9, "Technical Advisor", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp;Technical Advisor
                                @Html.RadioButtonFor(m => m.indusPsfInteraction.qFordQ9, "None", new { @style = "margin-left:15px;", @class = "controlBtn" })&nbsp;None
                            </div>
                        </div>
                        <div class="row animated  bounceInRight" style="margin-top:25px;">
                            @Html.TextAreaFor(m => m.listingForm.LeadYes, new { @id = "hdUpsell", @type = "hidden", @Value = "No", @style = "display:none;" })
                            <input style="margin-left:15px;" class="heading" type="checkbox" value="Yes" id="interlead">&nbsp;Upsell Lead Feedback
                            <div style="margin-left:20px;display:none;" id="leadFeedback">
                                @for (int i = 0; i < Model.tags.Count; i++)
                                {
                                    <div class="checkbox">
                                        <label>
                                            @Html.HiddenFor(m => m.listingForm.upsellleads[i].upsellId, new { Value = Model.tags[i].upsellLeadId, @id = "valueselectSBHidden" + Model.tags[i].upsellLeadId })
                                            @Html.CheckBox("ckUpsell", false, new { @Value = Model.tags[i].upsellLeadId, @upsell_index = 0, @id = "valueselectSB" + Model.tags[i].upsellLeadId, @class = "myOutCheckbox upsellLeadSelectDivSB", @onClick = "loadLeadBasedOnUserLocation('valueselectSB" + Model.tags[i].upsellLeadId + "','LeadSB" + Model.tags[i].upsellLeadId + "')" })
                                            @Model.tags[i].upsellType
                                        </label>
                                    </div>
                                    <div class="row animated  bounceInRight" style="display:none;" id="upsellLeadSelectSB_@Model.tags[i].upsellLeadId">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label for="">Location</label>
                                                @Html.DropDownList("uplocaAs", new SelectList(Model.locationList, "name", "name", Model.wyzuser.location.name), new { @class = "form-control", @id = "uplocaAS" + Model.tags[i].upsellLeadId, @onChange = "loadLeadBasedOnUserLocationSelected('uplocaAS" + Model.tags[i].upsellLeadId + "','valueselectSB" + Model.tags[i].upsellLeadId + "','LeadSB" + Model.tags[i].upsellLeadId + "')" })
                                            </div>
                                            <div class="col-md-4">
                                                <label for="">Tag to</label>
                                                @Html.DropDownListFor(m => m.listingForm.upsellleads[i].taggedTo, Enumerable.Empty<SelectListItem>(), new { @id = "LeadSB" + Model.tags[i].upsellLeadId, @class = "form-control upsellLeadTags" })
                                                @*<select class="form-control" name="upsellLead[@i].taggedTo" id="LeadSB@da.getUpsellLeadId()">
                                    <option>Select</option>
                                </select>*@
                                            </div>
                                            <div class="col-md-4">
                                                <label for="comments">Remarks</label>
                                                @Html.TextAreaFor(m => m.listingForm.upsellleads[i].upsellComments, new { @class = "form-control upsellLeadTags", @rows = "1", @id = "upsellRemarks" + Model.tags[i].upsellLeadId })
                                                @*<textarea class="form-control" rows="1" name="upsellLead[@i].upsellComments"></textarea>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="pull-right" style="margin-up:10px;">
                            <button type="button" class="btn btn-info" id="BackTospeak">Back</button>
                            <!-- <button type="submit" class="btn btn-info" name="NextToPSFDriveIN" value="" id="NextToPSFDriveIN">Next</button> -->
                            <button type="submit" class="btn btn-info" id="BackTo10thQuestionMMSSubmitKalyani">Submit</button>
                        </div>

                    </div>
                </div>




                <div style="display:none;" class="row animated  bounceInRight" id="NotInterestedBtns">
                    <div class="pull-right">
                        <br>
                        <button type="button" class="btn btn-info" id="BackToDidUtlakPSF1">Back</button>
                        <button type="submit" class="btn btn-info" id="notInterestedSubmit">Submit</button>
                    </div>
                </div>
            }
            else
            {
                <div id="divResolveAction" class="animated  bounceInRight" style="display:none;">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label class="text-bold">Reason</label>
                                @Html.DropDownListFor(m => m.indusPsfInteraction.modeOfService, new List<SelectListItem> {
                                        new SelectListItem{Value="Dissatisfied with PSF",Text="Pending" },
                                        new SelectListItem{Value="ResolutionConfirmed",Text="Resolved" },
                                        new SelectListItem{Value="No Resolution - Closed",Text="Closed - No Resolution" }
                                    }, "--Select--", new { @id = "resolvedReason", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Customer Feedback : </label><br>
                                @Html.TextAreaFor(m => m.indusPsfInteraction.customerFeedBack, new { @class = "form-control characterLimit ResRemarks", @id = "custFB" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>CRE Remark : </label><br>
                                @Html.TextAreaFor(m => m.indusPsfInteraction.creRemarks, new { @class = "form-control characterLimit ResRemarks", @id = "creRemarks" })
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-3 col-sm-12" style="margin-top: 43px;">
                            <div class="pull-right">
                                <button type="button" class="btn btn-info" id="bkResolved" style="background-color:#1797BE">Back</button>
                                <button type="submit" class="btn btn-info" name="typeOfsubmit" style="background-color:#1797BE" id="btnResolvedValid" value="ResolvedReason">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <div style="display:none;" class="row animated  bounceInRight" id="PSFYesNamaskarNoDiv">




                <div class="col-md-3">
                    <div class="form-group">
                        <label for="followUpDate">Date:</label>
                        @Html.TextBoxFor(m => m.indusPsfInteraction.FollowUpdate, new { @id = "selDate", @class = "datePickerrangeto form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="followUpTime">Time:</label>
                        @Html.TextBoxFor(m => m.indusPsfInteraction.FollowUptime, new { @id = "FollowUpTime", @class = "timepicker_7 form-control", @readonly = "readonly" })
                    </div>
                </div>
                </br>
                <div class="pull-right">
                    <button type="button" class="btn btn-info" id="BackToDidUtlakPSF">Back</button>
                    <button type="submit" class="btn btn-info" id="notCallMeLaterSubmit">Submit</button>
                </div>


            </div>
            <div style="display:none;" class="row animated  bounceInRight" id="remarksDivDisplay">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Customer Feedback : </label><br>
                        @Html.TextAreaFor(m => m.indusPsfInteraction.customerFeedBack, new { @class = "form-control characterLimit remarks1", @id = "custFB" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>CRE Remark : </label><br>
                        @Html.TextAreaFor(m => m.indusPsfInteraction.creRemarks, new { @class = "form-control characterLimit remarks1", @id = "creRemarks" })
                    </div>
                </div>

            </div>

        </div><!-----panel Group End---->
    </div>
</div><!---panel Body End--->
@*</div>*@


@Scripts.Render("~/public/javascripts/jquery-3.2.1.min.js")
@Scripts.Render("~/public/CallLogFiles/psfKalyaniDotNet.js")

<script type="text/javascript">
    $(document).ready(function () {
        var psfType = '@ViewBag.typeOfPSF';

        if (psfType == "4") {
            $('#interHeading').text('PSF 6TH DISPOSITION FORM');
        }
        else {
            $('#interHeading').text('PSF Complaint DISPOSITION FORM');
        }

        $('#imgInter').attr('src', siteRoot + "/public/images/INTERACTION HISTORY.png");
    });

    $('#bkResolved').click(function () {
        $('.ResRemarks').val('');
        $('#resolvedReason').val('');
        $('#divResolveAction').hide();
        $('#PSFconnectCall1').show();
        $("input:radio[name='indusPsfInteraction.whatCustSaid']").each(function (i) {
            this.checked = false;
        });

    });

    $('#btnResolvedValid').click(function () {
        if ($('#resolvedReason').val() == "" || $('#resolvedReason').val() == null) {
            Lobibox.notify('warning', {
                continueDelayOnInactiveTab: true,
                msg: 'Please select any one from reason.'
            });
            return false;
        }
    });
</script>

