


@{
    ViewBag.Title = "RM_insuranceReminder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        border: 1px solid black;
        overflow: hidden;
        text-align: center !important;
    }
</style>
<div class="row">
    <div class="col-sm-2">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    <div id="FreshCallsInsCountCRM">
                        @*<i class="fa fa-spinner fa-pulse fa-fw"></i>*@
                        @ViewBag.FreshCallsInsCount
                    </div>
                </h3>
                <p>Fresh Calls</p>
            </div>
            <div class="icon"> <i class="ion-android-call"></i> </div>

            <!--<span class="pull-left" data-toggle="modal" data-target=".myModal1">View Details</span>-->
        </div>
    </div>      <!-- ./col -->
    <div class="col-sm-2">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3><div id="followupInsCountCRM">@*<i class="fa fa-spinner fa-pulse fa-fw"></i>*@@ViewBag.followupInsCount</div></h3>
                <p>Pending Follow Ups</p>
            </div>
            <div class="icon"> <i class="ion-android-checkbox-outline"></i> </div>
        </div>
    </div>        <!-- ./col -->
    <div class="col-sm-2">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3><div id="nonContactsInsCRM">@*<i class="fa fa-spinner fa-pulse fa-fw"></i>*@@ViewBag.nonContactsIns</div></h3>
                <p>Non Contacts</p>
            </div>
            <div class="icon"> <i class="ion-person-add"></i> </div>
        </div>
    </div>        <!-- ./col -->
    <div class="col-sm-2">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3><div id="overDueInsCountCRM">@*<i class="fa fa-spinner fa-pulse fa-fw"></i>*@@ViewBag.overDueInsCount</div></h3>
                <p>Over Due Appointments</p>
            </div>
            <div class="icon"> <i class="ion-android-download"></i> </div>
        </div>
    </div>
    <div class="col-sm-2">
        <!-- small box -->
        <div class="small-box" style="background-color:#0000A0;">
            <div class="inner">
                <p style="color:#fff;">Extreme&nbsp;Flag&nbsp;-&nbsp;<span id="TotalRedFlagCRM">@ViewBag.totalRedFlag</span></p>
                <p style="color:#fff;">Attempts&nbsp;-&nbsp;<span id="InsAttemptsCRM">@ViewBag.attemptsIns</span></p>
                <p style="margin:0 0 -1px;color:#fff;">Pending&nbsp;-&nbsp;<span id="InsPendingCRM">@ViewBag.pendingIns</span></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <!-- small box -->
        <div class="small-box" style="background-color:#806517;">
            <div class="inner">
                <p style="margin:0 0 1px;color:#fff;">Appointments&nbsp;-&nbsp;<span id="InsTotalAppointmentsperDayCRM">@ViewBag.followupInsCount</span></p>
                <p style="margin:0 0 1px;color:#fff;">Contacts&nbsp;-&nbsp;<span id="TotalContactsInsCRMperDay">@ViewBag.totalContactsInsCREperDay</span></p>
                <p style="margin:0 0 1px;color:#fff;">Total Calls&nbsp;-&nbsp;<span id="InsTotalCallsperDayCRM">@ViewBag.totalCallsperDay</span></p>
                <p style="margin:0 0 -5px;color:#fff;">Date&nbsp;-&nbsp;<span id="date">@DateTime.Now.ToString("dd/MM/yyyy")</span></p>

            </div>
        </div>
    </div>


</div>

<div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Insurance Call Log Information
            <button style="background-color:red;float:right;height:30px;width:100px;margin-top:-5px;" onclick="clearbucketfilters();" title="CLEAR FILTER">CLEAR FILTER</button>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active bucket" id="li-schedule" data-bucket="1">
                    <a class="nav-link active" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="home"
                       aria-selected="true">Scheduled</a>
                </li>

                @*<li class="active bucket" id="li-schedule" data-bucket="1">
                        <a class="nav-link active" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="home" aria-selected="true">Scheduled</a>
                    </li>*@
                <li class="bucket" id="li-pendingFollowUp" data-bucket="2">
                    <a class="nav-link" id="pendingFollowUp-tab" data-toggle="tab" href="#pendingFollowUp" role="tab" aria-controls="home" aria-selected="true">Pending Follow Up</a>
                </li>
                <li class="bucket" id="li-appointment" data-bucket="3">
                    <a class="nav-link" id="appointment-tab" data-toggle="tab" href="#appointment" role="tab" aria-controls="home" aria-selected="true">Appointments</a>
                </li>
                <li class="bucket" id="li-RenewalNotReq" data-bucket="4">
                    <a class="nav-link " id="RenewalNotReq-tab" data-toggle="tab" href="#RenewalNotReq" role="tab" aria-controls="home" aria-selected="true">Renewal Not Required</a>
                </li>
                <li class="bucket" id="li-nonContacts" data-bucket="5">
                    <a class="nav-link" id="nonContacts-tab" data-toggle="tab" href="#nonContacts" role="tab" aria-controls="home" aria-selected="true">Non Contacts</a>
                </li>
                <li class="bucket" id="li-insn1day" data-bucket="6">
                    <a class="nav-link" id="insn1day-tab" data-toggle="tab" href="#insn1day" role="tab" aria-controls="home" aria-selected="true">Ins (N-1)Day</a>
                </li>
                <li class="bucket" id="li-insnthday" data-bucket="7">
                    <a class="nav-link " id="insnthday-tab" data-toggle="tab" href="#insnthday" role="tab" aria-controls="home" aria-selected="true">Ins (Nth)Day</a>
                </li>
                <li class="bucket" id="li-futureIns" data-bucket="8">
                    <a class="nav-link" id="futureIns-tab" data-toggle="tab" href="#futureIns" role="tab" aria-controls="home" aria-selected="true">Future Follow-Up</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="panel panel-default" style="border-top: #fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 tab-pane" id="campaignDiv" style="display:none;">

                                <label>Select Campaign</label>
                                @*<select class="filter form-control" id="campaignName" data-column-index="0">
                                                    <option value="0">--Select--</option>
                                                    @for(campaign_List<-campaignListInsurance){
                                       <option value="@campaign_List.getId()">@campaign_List.getCampaignName()</option>
                                    }

                                                </select>*@
                                @Html.DropDownList("ddlCampaign", new SelectList(ViewBag.ddlCampaign, "id", "campaignName"), "--Select--", new { @class = "form-control", @id = "campaignName", @data_field = "campaign", @onchange = "getfilters(this)" })

                            </div>
                            <div class="col-md-2" id="expiryFromDateDiv" style="display:none;">
                                <label>Expiry From Date : </label>
                                <input type="text" class="filter form-control datePicker" placeholder="Enter From Date" data-field="expiryfromDate" data-column-index="1" id="fromexpirydaterange" onchange="getfilters(this)" readonly>
                            </div>
                            <div class="col-md-2" id="expiryToDateDiv" style="display:none;">
                                <label>Expiry To Date : </label>
                                <input type="text" class="filter form-control datePicker" placeholder="Enter To Date" data-field="expirytoDate" data-column-index="2" id="toexpirydaterange" onchange="getfilters(this)" readonly>
                            </div>

                            <div class="col-md-2" id="flagDiv" style="display:none;">
                                <div class="form-group">
                                    <label>Flag</label>
                                    <select class="filter form-control" id="flag" data-column-index="4" data-field="flag" onchange="getfilters(this)">
                                        <option value="0" selected>--Select--</option>
                                        <option style="background-color:#C30000;color:#fff" value="Extreme">Extreme</option>
                                        <option style="background-color:#F70000;color:#fff" value="High">High</option>
                                        <option style="background-color:#FF2B2B;color:#fff" value="Medium">Medium</option>
                                        <option style="background-color:#FF6F6F;color:#fff" value="Low">Low</option>
                                        <option style="background-color:#3A3A38;color:#fff" value="Lost">Lost</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" id="modelDiv" style="display:none;">


                                <label>Model</label>
                                @Html.DropDownList("ddlmodelList", new SelectList(ViewBag.ddlmodelList, "id", "model"), "--Select--", new { @class = "form-control", @id = "modelName", @data_field = "model", @onchange = "getfilters(this)" })
                                @*<select class="filter form-control" id="modelName" data-column-index="5">
                                                    <option value="0">--Select--</option>
                                                    @for(models <- model){
                                        <option value="@models.getModel()">@models.getModel()</option>
                                    }

                                                </select>*@
                            </div>
                            <div class="col-md-2" id="appointmentTypeDiv" style="display:none;">
                                <label>Appointment type</label>
                                <select class="filter form-control" id="appointmentType" data-column-index="6" data-field="appointmentType" onchange="getfilters(this)">
                                    <option value="0">--Select--</option>
                                    <option value="Field">Field</option>
                                    <option value="Walk-In">Walk-In</option>
                                    <option value="Online">Online</option>
                                </select>
                            </div>
                            <div class="col-md-2" id="reasonsDiv" style="display:none;">
                                <label>Reasons</label>
                                @*<select class="filter form-control selectpicker" id="reasons" data-column-index="7" name="reasons" data-column-index="7" multiple data-actions-box="true">

                                                    @for(reason <- reasonsList){
                                        <option value="@reason.getId()">@reason.getDisposition()</option>
                                    }
                                                </select>*@
                                @Html.DropDownList("ddlsisposition", new SelectList(ViewBag.ddlsisposition, "id", "dispo"), "--Select--", new { @class = "form-control", @onchange = "getfilters(this)", @id = "reasons", @data_field = "reasons" })
                            </div>

                            <div class="col-md-2" id="appointmentFromDateDiv" style="display:none;">
                                <label>Appointment From Date : </label>
                                <input type="text" class="filter form-control datePicker" data-column-index="8" onchange="getfilters(this)" data-field="appointmentFromDate" placeholder="Enter From Date" id="appointmentFromDate" readonly>
                            </div>
                            <div class="col-md-2" id="appointmentToDateDiv" style="display:none;">
                                <label>Appointment To Date : </label>
                                <input type="text" class="filter form-control datePicker" data-column-index="9" onchange="getfilters(this)" data-field="appointmentToDate" placeholder="Enter To Date" id="appointmentToDate" readonly>
                            </div>
                            <div class="col-md-2" id="callFromDateDiv" style="display:none;">
                                <label>Call From Date : </label>
                                <input type="text" class="filter form-control datePicker" data-column-index="10" onchange="getfilters(this)" data-field="callfromDate" placeholder="Enter From Date" id="callFromDate" readonly>
                            </div>
                            <div class="col-md-2" id="callToDateDiv" style="display:none;">
                                <label>Call To Date : </label>
                                <input type="text" class="filter form-control datePicker" data-column-index="11" onchange="getfilters(this)" data-field="calltoDate" placeholder="Enter To Date" id="callToDate" name="callToDate" readonly>
                            </div>
                            <div class="col-md-2" id="creDiv1" style="display:none;">
                                <label>Select CRE</label>
                                @Html.DropDownList("ddlCRE", new SelectList(ViewBag.ddlCRE, "id", "userName"), "--Select--", new { @onchange = "getfilters(this)", @class = "form-control", @id = "creNameId", @data_field = "CRES" })
                                @*<select class="filter form-control" id="creNameId" data-column-index="3" name="creNameId">
                                                    <option value="0">--Select--</option>

                                                    @for(cre_list<-allcre){
                                       <option value="@cre_list.getId()">@cre_list.getUserName()</option>
                                    }

                                                </select>*@
                            </div>
                            <div class="col-md-2" id="attemptsDiv" style="display:none;">
                                <label>Attempts</label>
                                <select class="filter form-control" id="attempts" data-column-index="12" data-field="attempts" name="attempts" onchange="getfilters(this)">
                                    <option value="0">--Select--</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                        </div>
                        @* <span class="btn btn-danger btn-sm float-right" onclick="clearbucketfilters()">Clear</span>*@
                    </div>
                </div>
                <div class="panel panel-default tab-pane fade active in" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                    <div class="panel-body inf-content">

                        <div class="dataTable_wrapper">
                            <div>
                                <table class="table table-striped table-bordered table-hover" id="tblInsuranceassignedInteractionTableMR" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>CRE Name</th>
                                            <th>Campaign</th>
                                            <th>Customer&nbsp;Name</th>
                                            <th>Mobile&nbsp;No.</th>
                                            <th>Reg&nbsp;No.</th>
                                            <th>Chassis&nbsp;No.</th>
                                            <th>Flag</th>
                                            <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                            <th>Renewal&nbsp;Type</th>
                                            <th>Last&nbsp;Ins.&nbsp;Co.</th>
                                            <th>Brand</th>
                                            <th>Model</th>
                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="buttons1"></div>
                </div>
                <div class="tab-pane fade" id="pendingFollowUp">
                    <div class="panel-body inf-content">
                        <div class="dataTable_wrapper">
                            <div>
                                <table class="table table-striped table-bordered table-hover" id="tblInsurancefollowUpRequiredServerDataMR4">
                                    <thead>

                                        <tr>
                                            <th>Action</th>
                                            <th>CRE&nbsp;Name</th>
                                            <th>Campaign</th>
                                            <th>Customer&nbsp;Name</th>
                                            <th>Mobile&nbsp;No.</th>
                                            <th>Reg&nbsp;No.</th>
                                            <th>Chassis&nbsp;No.</th>
                                            <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                            <th>Flag</th>
                                            <th>Renewal&nbsp;Type</th>
                                            <th>Last&nbsp;Call&nbsp;Date</th>
                                            <th>Attempts</th>
                                            <th>Follow-up&nbsp;Date</th>
                                            <th>Follow-up&nbsp;Time</th>
                                            <th>Brand</th>
                                            <th>Model</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="buttons2"></div>
                </div>
                <div class="tab-pane fade " id="appointment">
                    <div class="panel-body inf-content">
                        <div class="dataTable_wrapper">
                            <div>
                                <table class="table table-striped table-bordered table-hover" id="tblInsurancefollowUpRequiredServerDataMR25">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>CRE&nbsp;Name</th>
                                            <th>Campaign</th>
                                            <th>Customer&nbsp;Name</th>
                                            <th>Mobile&nbsp;No.</th>
                                            <th>Reg&nbsp;No.</th>
                                            <th>Chassis&nbsp;No.</th>
                                            <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                            <th>Flag</th>
                                            <th>Renewal&nbsp;Type</th>
                                            <th>Last&nbsp;Call&nbsp;Date</th>
                                            <th>Last&nbsp;Disposition</th>
                                            <th>Attempts</th>
                                            <th>Appointment&nbsp;Date</th>
                                            <th>Appointment&nbsp;Time</th>
                                            <th>Appointment&nbsp;Status</th>
                                            <th>Appointment&nbsp;Type</th>
                                            <th>FSE</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="buttons3"></div>
                </div>
                <div class="tab-pane fade " id="RenewalNotReq">
                    <div class="panel-body inf-content">
                        <div class="dataTable_wrapper">
                            <div>
                                <table class="table table-striped table-bordered table-hover" id="tblInsurancefollowUpRequiredServerDataMR26">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>CRE&nbsp;Name</th>
                                            <th>Campaign</th>
                                            <th>Customer&nbsp;Name</th>
                                            <th>Mobile&nbsp;No.</th>
                                            <th>Reg&nbsp;No.</th>
                                            <th>Chassis&nbsp;No.</th>
                                            <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                            <th>Flag</th>
                                            <th>Renewal&nbsp;Type</th>
                                            <th>Last&nbsp;Call&nbsp;Date</th>
                                            <th>Last&nbsp;Disposition</th>
                                            <th>Reasons</th>
                                            <th>Attempts</th>
                                            <th>Brand</th>
                                            <th>Model</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="buttons4"></div>
                </div><!--End tab panel-->
                <div class="tab-pane fade " id="nonContacts">
                    <div class="panel-body inf-content">
                        <div>
                            <table class="table table-striped table-bordered table-hover" id="tblInsurancenonContactsServerDataMR1">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>CRE&nbsp;Name</th>
                                        <th>Campaign</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Mobile&nbsp;No.</th>
                                        <th>Reg&nbsp;No.</th>
                                        <th>Chassis&nbsp;No.</th>
                                        <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                        <th>Flag</th>
                                        <th>Renewal&nbsp;Type</th>
                                        <th>Last&nbsp;Call&nbsp;Date</th>
                                        <th>Last&nbsp;Disposition</th>
                                        <th>Attempts</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="buttons5"></div>
                </div>
                <div class="tab-pane fade" id="insn1day">
                    <div class="panel-body inf-content">
                        <div>
                            <table class="table table-striped table-bordered table-hover" id="tblInsuranceNminusOneServerDataMR">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>CRE&nbsp;Name</th>
                                        <th>Campaign&nbsp;Name</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Mobile&nbsp;No.</th>
                                        <th>Reg&nbsp;No.</th>
                                        <th>Chassis&nbsp;No.</th>
                                        <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                        <th>Flag</th>
                                        <th>Appointment&nbsp;Time</th>
                                        <th>Renewal&nbsp;Type</th>
                                        <th>Last&nbsp;Disposition</th>
                                        <th>Appointment&nbsp;Status</th>
                                        <th>Insurance&nbsp;Agent</th>
                                        <th>Insurance&nbsp;Company</th>
                                        <th>Field-Walkin&nbsp;Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="buttons6"></div>
                </div>
                <div class="tab-pane fade" id="insnthday">
                    <div class="panel-body inf-content">
                        <div>
                            <table class="table table-striped table-bordered table-hover" id="tblInsuranceNthServerDataMR">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>CRE&nbsp;Name</th>
                                        <th>Campaign&nbsp;Name</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Mobile&nbsp;No.</th>
                                        <th>Reg&nbsp;No.</th>
                                        <th>Chassis&nbsp;No.</th>
                                        <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                        <th>Flag</th>
                                        <th>Appointment&nbsp;Time</th>
                                        <th>Renewal&nbsp;Type</th>
                                        <th>Last&nbsp;Disposition</th>
                                        <th>Appointment&nbsp;Status</th>
                                        <th>Insurance&nbsp;Agent</th>
                                        <th>Insurance&nbsp;Company</th>
                                        <th>Field-Walkin&nbsp;Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="buttons7"></div>
                </div>
                <div class="tab-pane fade " id="futureIns">
                    <div class="panel-body inf-content">
                        <div>
                            <table class="table table-striped table-bordered table-hover" id="tblInsuranceFutureFollowup">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>CRE&nbsp;Name</th>
                                        <th>Campaign</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Mobile&nbsp;No.</th>
                                        <th>Reg&nbsp;No.</th>
                                        <th>Chassis&nbsp;No.</th>
                                        <th>Policy&nbsp;Expiry&nbsp;Date</th>
                                        <th>Flag</th>
                                        <th>Renewal&nbsp;Type</th>
                                        <th>Last&nbsp;Call&nbsp;Date</th>
                                        <th>Attempts</th>
                                        <th>Follow-up&nbsp;Date</th>
                                        <th>Follow-up&nbsp;Time</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="buttons8"></div>
                </div>
            </div><!--End tab content-->
        </div><!--End panel body-->
    </div>

</div>
@section scripts
{
    <script>
        var presentBucket = "", filtDist = {}, callAjaxClear = 0, callfromTab = 0;

        $(document).ready(function () {
            $(".datePicker").datepicker({
                autoclose: true,
                dateFormat: 'dd/mm/yy',
            });

            if (localStorage.length > 0) {
                filtDist = JSON.parse(localStorage.getItem("RM_insuranceReminder"));
                if (filtDist != null) {
                    renderFilterData();
                }
                else {
                    presentBucket = 1;
                    filtDist = {};
                    bindScheduleData();
                }
            }
            else {
                manageFilters(1);
                presentBucket = 1;
                bindScheduleData();
            }


        });

        //re-render the filtered element
        function renderFilterData() {
            //debugger;
            for (var key in filtDist) {
                if (key !== "getDataFor" && key !== "isFiltered") {
                    var element = $('.filter[data-field="' + key + '"]');
                    $(element).val(filtDist[key]);
                }
            }
            if (filtDist["getDataFor"] != null) {
                presentBucket = filtDist["getDataFor"];
                var liElement = $('.bucket[data-bucket="' + presentBucket + '"]');
                var id = liElement[0].id;
                //removing current style
                $('li.bucket').removeClass('active');
                $('div.fade').removeClass('show active in');

                //applying new style
                $('#' + id).addClass('active');
                $('#' + id.split('-')[1]).addClass('show active in');

                manageFilters(presentBucket);
                makeAjaxCall();
            }
        }


        $('li.bucket').on('click', function () {

            var id = $(this).attr('id');
            //removing current style
            $('li.bucket').removeClass('active');
            $('div.fade').removeClass('show active in');

            //applying new style
            $('#' + id).addClass('active');
            $('#' + id.split('-')[1]).addClass('show active in');
            presentBucket = $(this).attr('data-bucket');
            manageFilters(presentBucket);
            clearbucketfilters();
        })


        function makeAjaxCall() {

            if (presentBucket == 1) {
                bindScheduleData();

            }
            else if (presentBucket == 2) {
                bindfollowupData();
            }
            else if (presentBucket == 3) {
                bindserviceBookedData();
            }
            else if (presentBucket == 4) {
                bindrenewalnotRequired();
            }
            else if (presentBucket == 5) {
                bindNonContacts();
            }
            else if (presentBucket == 6) {
                bindnextday();
            }
            else if (presentBucket == 7) {
                bindNthday();
            } else if (presentBucket == 8) {
                bindFuture();
            }
        }

        //Hide and show of filters based on buckets
        function manageFilters(bucketId) {

            if (bucketId == 1) {
                                document.getElementById("campaignDiv").style.display = "block";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "none";
                                document.getElementById("reasonsDiv").style.display = "none";
                                document.getElementById("appointmentFromDateDiv").style.display = "none";
                                document.getElementById("appointmentToDateDiv").style.display = "none";
                                document.getElementById("callFromDateDiv").style.display = "none";
                                document.getElementById("callToDateDiv").style.display = "none";
                                document.getElementById("creDiv1").style.display = "block";
                                document.getElementById("attemptsDiv").style.display = "none";

            }
            else if (bucketId == 2) {
                                document.getElementById("campaignDiv").style.display = "block";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "none";
                                document.getElementById("reasonsDiv").style.display = "none";
                                document.getElementById("appointmentFromDateDiv").style.display = "none";
                                document.getElementById("appointmentToDateDiv").style.display = "none";
                                document.getElementById("callFromDateDiv").style.display = "none";
                                document.getElementById("callToDateDiv").style.display = "none";
                                document.getElementById("creDiv1").style.display = "block";
                                document.getElementById("attemptsDiv").style.display = "none";
            }
            else if (bucketId == 3) {
                                document.getElementById("campaignDiv").style.display = "none";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "block";
                                document.getElementById("reasonsDiv").style.display = "none";
                                document.getElementById("appointmentFromDateDiv").style.display = "block";
                                document.getElementById("appointmentToDateDiv").style.display = "block";
                                document.getElementById("callFromDateDiv").style.display = "none";
                                document.getElementById("callToDateDiv").style.display = "none";
                                document.getElementById("creDiv1").style.display = "block";
                                document.getElementById("attemptsDiv").style.display = "none";

            }
            else if (bucketId == 4) {
                                document.getElementById("campaignDiv").style.display = "block";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "none";
                                document.getElementById("reasonsDiv").style.display = "block";
                                document.getElementById("appointmentFromDateDiv").style.display = "none";
                                document.getElementById("appointmentToDateDiv").style.display = "none";
                                document.getElementById("callFromDateDiv").style.display = "none";
                                document.getElementById("callToDateDiv").style.display = "none";
                                document.getElementById("creDiv1").style.display = "none";
                                document.getElementById("attemptsDiv").style.display = "none";

            }
            else if (bucketId == 5) {
                                document.getElementById("campaignDiv").style.display = "block";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "none";
                                document.getElementById("reasonsDiv").style.display = "none";
                                document.getElementById("appointmentFromDateDiv").style.display = "none";
                                document.getElementById("appointmentToDateDiv").style.display = "none";
                                document.getElementById("callFromDateDiv").style.display = "block";
                                document.getElementById("callToDateDiv").style.display = "block";
                                document.getElementById("creDiv1").style.display = "block";
                                document.getElementById("attemptsDiv").style.display = "block";


            }
            else if (bucketId == 6) {
                                document.getElementById("campaignDiv").style.display = "none";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "block";
                                document.getElementById("reasonsDiv").style.display = "none";
                                document.getElementById("appointmentFromDateDiv").style.display = "none";
                                document.getElementById("appointmentToDateDiv").style.display = "none";
                                document.getElementById("callFromDateDiv").style.display = "none";
                                document.getElementById("callToDateDiv").style.display = "none";
                                document.getElementById("creDiv1").style.display = "block";
                                document.getElementById("attemptsDiv").style.display = "none";
            }
            else if (bucketId == 7) {

                document.getElementById("campaignDiv").style.display = "none";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "block";
                                document.getElementById("reasonsDiv").style.display = "none";
                                document.getElementById("appointmentFromDateDiv").style.display = "none";
                                document.getElementById("appointmentToDateDiv").style.display = "none";
                                document.getElementById("callFromDateDiv").style.display = "none";
                                document.getElementById("callToDateDiv").style.display = "none";
                                document.getElementById("creDiv1").style.display = "block";
                                document.getElementById("attemptsDiv").style.display = "none";
            }
            else if (bucketId == 8) {
                 document.getElementById("campaignDiv").style.display = "block";
                                document.getElementById("expiryFromDateDiv").style.display = "block";
                                document.getElementById("expiryToDateDiv").style.display = "block";
                                document.getElementById("flagDiv").style.display = "block";
                                document.getElementById("modelDiv").style.display = "none";
                                document.getElementById("appointmentTypeDiv").style.display = "block";
                                document.getElementById("reasonsDiv").style.display = "none";
                                document.getElementById("appointmentFromDateDiv").style.display = "none";
                                document.getElementById("appointmentToDateDiv").style.display = "none";
                                document.getElementById("callFromDateDiv").style.display = "none";
                                document.getElementById("callToDateDiv").style.display = "none";
                                document.getElementById("creDiv1").style.display = "block";
                                document.getElementById("attemptsDiv").style.display = "none";
            }


        }


        //Clear Buckets data
        function clearbucketfilters() {
            $('#campaignName').val('');
            $('#fromexpirydaterange').val('');
            $('#toexpirydaterange').val('');
            $('#flag').prop('selectedIndex', 0);
            $('#attempts').prop('selectedIndex', 0);
            $('#creNameId').prop('selectedIndex', 0);
            $('#appointmentType').prop('selectedIndex', 0);

            $('#modelName').val('');
            $('#reasons').val('');
            $('#appointmentFromDate').val('');
            $('#appointmentToDate').val('');
            $('#callFromDate').val('');
            $('#callToDate').val('');

            filtDist = {};

            makeAjaxCall();
        }

        function checkFlag(data) {
            var flag = data;
            if (flag == "Extreme") {
                flagColor = "<span style='background-color:#C30000;color:#fff;padding:10px;display: block;text-align:center;'>Extreme</span>";
            } else if (flag == "High") {
                flagColor = "<span style='background-color:#F70000;color:#fff;padding:10px;display: block;text-align:center;'>High</span>";
            } else if (flag == "Medium") {
                flagColor = "<span style='background-color:#FF2B2B;color:#fff;padding:10px;display: block;text-align:center;'>Medium</span>";
            } else if (flag == "Low") {
                flagColor = "<span style='background-color:#FF6F6F;color:#fff;padding:10px;display: block;text-align:center;'>Low</span>";
            } else if (flag == "Lost") {
                flagColor = "<span style='background-color:#3A3A38;color:#fff;padding:10px;display: block;text-align:center;'>Lost</span>";
            } else {
                flagColor = "-";
            }
            return flagColor;
        }

        //Function to access filter data
        function getfilters(item) {
            //debugger;
            var field = $(item).attr('data-field');
            var data = $(item).val();

            if (filtDist[field] === undefined) {
                filtDist[field] = data;
                if (data != "") {
                    filtDist["isFiltered"] = true;
                }
                else {
                    if ($('#campaignName').val() === "" &&
                        $('#fromexpirydaterange').val() === "" &&
                        $('#toexpirydaterange').val() === "" &&
                        $('#flag').val() === "" &&
                        $('#modelName').val() === "" &&
                        $('#appointmentType').val() === "" &&
                        $('#reasons').val() === "" &&
                        $('#appointmentFromDate').val() === "" &&
                        $('#appointmentToDate').val() === "" &&
                        $('#callFromDate').val() === "" &&
                        $('#callToDate').val() === "" &&
                        $('#creNameId').val() === "" &&
                        $('#attempts').val() === "") {
                        filtDist["isFiltered"] = false;
                    }
                }
            }
            else {
                filtDist[field] = data;
                if (data != "") {
                    filtDist["isFiltered"] = true;
                }
                if ($('#campaignName').val() === "" &&
                    $('#fromexpirydaterange').val() === "" &&
                    $('#toexpirydaterange').val() === "" &&
                    $('#flag').val() === "" &&
                    $('#modelName').val() === "" &&
                    $('#appointmentType').val() === "" &&
                    $('#reasons').val() === "" &&
                    $('#appointmentFromDate').val() === "" &&
                    $('#appointmentToDate').val() === "" &&
                    $('#callFromDate').val() === "" &&
                    $('#callToDate').val() === "" &&
                    $('#creNameId').val() === "" &&
                    $('#attempts').val() === "") {
                    filtDist["isFiltered"] = false;
                }

            }
            //calling ajax function
            makeAjaxCall();
        }

        function bindScheduleData() {
            //debugger;
            filtDist["getDataFor"] = 1;
            $('#tblInsuranceassignedInteractionTableMR').DataTable({
                "destroy": true,
                dom:'Bfrtip',
                buttons:['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;
                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                        }
                    },
                    { "data": "CREName", "name": "creName" },
                    { "data": "campaign", "name": "campaign" },
                    { "data": "customerName", "name": "customerName" },
                    { "data": "phone", "name": "phone" },
                    { "data": "regNo", "name": "regNo" },
                    { "data": "chassisNo", "name": "chassisNo" },
                    {
                        "data": "flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    {
                        "data": "policyDueDate", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    { "data": "nextRenewalType", "name": "nextRenewalType" },
                    { "data": "lastInsuranceCompany", "name": "lastInsuranceCompany" },
                    { "data": "brand", "name": "brand" },
                    { "data": "model", "name": "model" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                },
                "initComplete": function (data) {
                    console.log("FromDate: " + data.json.fromDate);
                    console.log("toDate: " + data.json.toDate);

                }

            });
        }

        function bindfollowupData() {
            //debugger;
            filtDist["getDataFor"] = 2;
            $('#tblInsurancefollowUpRequiredServerDataMR4').DataTable({
                "destroy": true,
                dom: 'Bfrtip',
                buttons:['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;
                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                        }
                    },
                    { "data": "CREName", "name": "creName" },
                    { "data": "campaignName", "name": "campaignName" },
                    { "data": "customerName", "name": "customerName" },
                    { "data": "mobileNumber", "name": "mobileNumber" },
                    { "data": "vehicle_RegNo", "name": "vehicle_RegNo" },
                    { "data": "chassisNo", "name": "chassisNo" },
                     {
                        "data": "duedate", "render": function (data, type, row) {
                            return data == null || data==""?"": data.split('-')[2] + "-" + data.split('-')[1] + "-" + data.split('-')[0]
                        }
                    },
                    {
                        "data": "flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    { "data": "renewalType", "name": "renewalType" },
                    {
                        "data": "call_date", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    { "data": "no_of_attempts", "name": "no_of_attempts" },
                    {
                        "data": "followUpDate", "render": function (data, type, row) {
                            return data == null || data==""?"": data.split('-')[2] + "-" + data.split('-')[1] + "-" + data.split('-')[0]
                        }
                    },
                    { "data": "followUpTime", "name": "followUpTime" },
                    { "data": "brand", "name": "brand" },
                    { "data": "model", "name": "model" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                }
            });
        }


        function bindserviceBookedData() {
            //debugger;
            filtDist["getDataFor"] = 3;
            $('#tblInsurancefollowUpRequiredServerDataMR25').DataTable({
                "destroy": true,
                dom: 'Bfrtip',
                buttons:['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;
                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                        }
                    },
                    { "data": "CREName", "name": "CREName" },
                    { "data": "campaignName", "name": "campaignName" },
                    { "data": "customerName", "name": "customerName" },
                    { "data": "mobileNumber", "name": "mobileNumber" },
                    { "data": "vehicle_RegNo", "name": "vehicle_RegNo" },
                    { "data": "chassisNo", "name": "chassisNo" },
                     {
                        "data": "duedate", "render": function (data, type, row) {
                            return data == null || data==""?"": data.split('-')[2] + "-" + data.split('-')[1] + "-" + data.split('-')[0]
                        }
                    },
                    {
                        "data": "flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    { "data": "renewalType", "name": "renewalType" },
                     {
                        "data": "call_date", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    { "data": "Last_disposition", "name": "Last_disposition" },
                    { "data": "no_of_attempts", "name": "no_of_attempts" },
                     {
                        "data": "appointmentDate", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    { "data": "appointmentTime", "name": "appointmentTime" },
                    { "data": "appointmentstatus", "name": "appointmentstatus" },
                    { "data": "appointmentType", "name": "appointmentType" },
                    { "data": "fse", "name": "fse" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                }
            });
        }

        function bindrenewalnotRequired() {
            //debugger;
            filtDist["getDataFor"] = 4;
            $('#tblInsurancefollowUpRequiredServerDataMR26').DataTable({
                "destroy": true,
                dom: 'Bfrtip',
                buttons:['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;
                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                        }
                    },
                    { "data": "CREName", "name": "CREName" },
                    { "data": "campaignName", "name": "campaignName" },
                    { "data": "customerName", "name": "customerName" },
                    { "data": "mobileNumber", "name": "mobileNumber" },
                    { "data": "vehicle_RegNo", "name": "vehicle_RegNo" },
                    { "data": "chassisNo", "name": "chassisNo" },

                    {
                        "data": "duedate", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    {
                        "data": "flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    { "data": "renewalType", "name": "renewalType" },
                     {
                        "data": "call_date", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    { "data": "Last_disposition", "name": "Last_disposition" },
                    { "data": "reasons", "name": "reasons" },
                    { "data": "no_of_attempts", "name": "no_of_attempts" },
                    { "data": "brand", "name": "brand" },
                    { "data": "model", "name": "model" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                }
            });
        }

        function bindNonContacts() {
            //debugger;
            filtDist["getDataFor"] = 5;
            $('#tblInsurancenonContactsServerDataMR1').DataTable({
                "destroy": true,
                dom: 'Bfrtip',
                buttons:['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;
                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                        }
                    },
                    { "data": "CREName", "name": "CREName" },
                    { "data": "campaignName", "name": "campaignName" },
                    { "data": "customer_name", "name": "customer_name" },
                    { "data": "Mobile_number", "name": "Mobile_number" },
                    { "data": "vehicle_RegNo", "name": "vehicle_RegNo" },
                    { "data": "chassisNo", "name": "chassisNo" },

                    {
                        "data": "policyDueDate", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    {
                        "data": "flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    { "data": "renewalType", "name": "renewalType" },
                    {
                        "data": "call_date", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    { "data": "Last_disposition", "name": "Last_disposition" },
                    { "data": "no_of_attempts", "name": "no_of_attempts" },
                    { "data": "brand", "name": "brand" },
                    { "data": "model", "name": "model" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                }
            });
        }
        function bindnextday() {
            //debugger;
            filtDist["getDataFor"] = 6;
            $('#tblInsuranceNminusOneServerDataMR').DataTable({
                "destroy": true,
                dom: 'Bfrtip',
                buttons: ['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;
                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                        }
                    },
                    { "data": "CREName", "name": "creName" },
                    { "data": "campaignName", "name": "campaignName" },
                    { "data": "customer_name", "name": "customer_name" },
                    { "data": "phoneNumber", "name": "phoneNumber" },
                    { "data": "vehicleRegNo", "name": "vehicleRegNo" },
                    { "data": "chassiNo", "name": "chassiNo" },

                    {
                        "data": "policyExpiryDate", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    {
                        "data": "Flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    { "data": "appointmentFromTime", "name": "appointmentFromTime" },
                    { "data": "renewalType", "name": "renewalType" },
                    { "data": "Last_disposition", "name": "Last_disposition" },
                    { "data": "appointment_status", "name": "appointment_status" },
                    { "data": "insuranceAgent", "name": "insuranceAgent" },
                    { "data": "insuranceCompany", "name": "insuranceCompany" },
                    { "data": "fieldwalkingloc", "name": "fieldwalkingloc" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                }
            });
        }
        function bindNthday() {
            //debugger;
            filtDist["getDataFor"] = 7;
            $('#tblInsuranceNthServerDataMR').DataTable({
                "destroy": true,
                dom: 'Bfrtip',
                buttons: ['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;

                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                       }
                    },
                    { "data": "CREName", "name": "creName" },
                    { "data": "campaignName", "name": "campaignName" },
                    { "data": "customer_name", "name": "customer_name" },
                    { "data": "phoneNumber", "name": "phoneNumber" },
                    { "data": "vehicleRegNo", "name": "vehicleRegNo" },
                    { "data": "chassiNo", "name": "chassiNo" },

                    {
                        "data": "policyExpiryDate", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    {
                        "data": "Flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    { "data": "appointmentFromTime", "name": "appointmentFromTime" },
                    { "data": "renewalType", "name": "renewalType" },
                    { "data": "Last_disposition", "name": "Last_disposition" },
                    { "data": "appointment_status", "name": "appointment_status" },
                    { "data": "insuranceAgent", "name": "insuranceAgent" },
                    { "data": "insuranceCompany", "name": "insuranceCompany" },
                    { "data": "fieldwalkingloc", "name": "fieldwalkingloc" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                }
            });
        }
        function bindFuture() {
            //debugger;
            filtDist["getDataFor"] = 8;
            $('#tblInsuranceFutureFollowup').DataTable({
                "destroy": true,
                dom: 'Bfrtip',
                buttons: ['excel'],
                "ajax": {
                    "url": siteRoot + "/RMCallLogReminder/getInsuranceBucket/",
                    "type": "POST",
                    "datatype": "json",
                    "data": { insurancereminderData: JSON.stringify(filtDist) }
                },

                "columns": [
                    {
                        "data": "Action", render: function (data, type, row) {
                            //debugger;
                            return `<a class="fa fa-pencil-square" href="${siteRoot}/CallLogging/Call_Logging/CREManager%2cI%2c${row.customer_id}%2c${row.vehicle_id}" style="font-size: 24pt;color: red;"> </a>`
                        }
                    },
                    { "data": "CREName", "name": "CREName" },
                    { "data": "campaignName", "name": "campaignName" },
                    { "data": "customer_name", "name": "customer_name" },
                    { "data": "Mobile_number", "name": "mobile_Number" },
                    { "data": "vehicle_RegNo", "name": "vehicle_RegNo" },
                    { "data": "chassisNo", "name": "chassisNo" },

                    {
                        "data": "policyDueDate", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    {
                        "data": "flag", "render": function (data, type, row) {
                            return checkFlag(data);
                        }
                    },
                    { "data": "renewalType", "name": "renewalType" },
                    {
                        "data": "call_date", "render": function (data, type, row) {
                            return parseJsonDateTime(data);
                        }
                    },
                    { "data": "no_of_attempts", "name": "no_of_attempts" },
                    { "data": "followUpDate", "name": "followUpDate" },
                    { "data": "followUpTime", "name": "followUpTime" },
                    { "data": "brand", "name": "brand" },
                    { "data": "model", "name": "model" }
                ],
                "serverSide": "true",
                "processing": "true",
                "serverSide": true,
                "scrollX": "true",
                "scrollY": "300",
                "paging": "true",
                "searching": true,
                "language": {
                    "processing": "Loading Please Wait.....!"
                }
            });
        }



        //********************* Adding Filter Data *************************

        function recordFilters() {
            localStorage.setItem("RM_insuranceReminder", JSON.stringify(filtDist));
        }
    </script>
}

