
@{
    ViewBag.Title = "InsuranceLive";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userRole = Session["UserRole"].ToString();
    string userName = Session["UserName"].ToString();
    string dealer_name = Session["DealerName"].ToString();
}
<link href="~/public/liveReportCSS/custom.css" rel="stylesheet" />
<style>
    thead {
        background-color: rgb(128, 203, 196);
        width: 84px;
    }

    .dashImg1 {
        width: 30px;
    }

    .dashImg2 {
        width: 20px;
    }

    .scroll {
        width: 20px;
        height: 12px;
        overflow: auto;
        margin: 0 10px;
    }

    .scroll4::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }

    .scroll4::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }

    .scroll4::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
    }

    .panel-heading {
        cursor: pointer;
    }

    div#container {
        height: 400px;
        width: 400px;
        border: 2px solid #000;
        overflow: scroll;
    }

    .accordion-toggle:after {
        font-family: 'FontAwesome';
        content: "\f077";
        float: right;
        color: inherit;
    }

    .panel-heading.collapsed .accordion-toggle:after {
        content: "\f078";
    }

    .box-body {
        padding: 0px;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
    }

    #slideOut {
        position: fixed;
        width: 230px;
        height: 800px;
        top: 147px;
        right: -230px;
        /* Animation  */
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        z-index: 999;
    }


    /* Display slideOut */

    .showSlideOut {
        right: 0px !important;
    }


    /* Tab */

    .slideOutTab {
        margin-top: 50px;
        position: absolute;
        left: -40px;
        height: 200px;
        width: 40px;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        background: #F2AB34;
        border-radius: 15px 0px 0px 15px
    }

        .slideOutTab div {
            text-align: center;
            position: relative;
            right: 70px;
            top: 90px;
            background: #F2AB34;
            width: 180px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            writing-mode: lr-tb;
        }

    .modal-content {
        height: 325px;
        background-color: white;
    }

    .modal-body {
        height: 400px;
    }

    h2 {
        font-size: 18px;
    }

    .dbbgcolor1 {
        background-color: #03a9f4;
    }

    .dbbgcolor2 {
        background-color: #ffc107;
    }

    .dbbgcolor3 {
        background-color: #d559ea;
    }

    .dbbgcolor4 {
        background-color: #ff5652;
    }

    .dbbgcolor5 {
        background-color: #69afff;
    }

    .dbbgcolor6 {
        background-color: #4edec1;
    }

    .dbbgcolor7 {
        background-color: #ffc107;
    }

    .dbbgcolor8 {
        background-color: #d559ea;
    }

    .dbbgcolor9 {
        background-color: #ff5652;
    }

    ul.multiselect-container.dropdown-menu {
        height: 121px;
        overflow: auto;
    }

    .tile-stats span {
        margin-top: 5px;
        font-size: 12px;
    }

    .boxes {
        margin: 6px;
    }

    .x_title h2 {
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    #myTab {
        margin-bottom: 0px;
    }

        #myTab > li {
            /* width: 110px;
        word-wrap: break-word;*/
            border-bottom: 2px solid #fff;
        }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 3px;
        line-height: 1;
        vertical-align: top;
        border-top: 1px solid #ddd;
        color: #000 !important;
        font-size: 13px;
        background-color: #fff;
    }

    .dataTables_length,
    .dataTables_filter,
    .dataTables_info {
        font-size: 12px;
    }

    /*tbody,th{
      text-align: center;
    }*/

    .btn {
        display: inline-block;
        /* padding: 0px 4px;  */
        margin-bottom: 0;
        font-size: 12px;
    }

    .nav-tabs > li > a:hover {
        border-color: #b14b4b #b93131 #b33;
        color: #000;
    }

    .html5buttons {
        display: none;
    }
    /* @@media only screen and(max-width:768px;){
        #Banus{
        font-size: 8px!important;

        }
    } */
</style>

<div class="row top_tiles" style="color: #fff;">
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <div class="">
            <div class="animated flipInY ccol-lg-2 col-md-2  col-sm-6 col-xs-6">
                <div class="tile-stats dbbgcolor1">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveCRE"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">CRE</p>
                        </b>
                    </div>

                    <div class="icon">
                        <i class="fa fa-rocket" style="font-size: 23px"></i>
                    </div>
                </div>
            </div>


            <div class="animated flipInY col-lg-2 col-md-2  col-sm-6 col-xs-6">
                <div class="tile-stats dbbgcolor2">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveDataAvail"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">Data Avail</p>
                        </b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dropbox" style="font-size: 23px"></i>
                    </div>

                </div>
            </div>

            <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-6 CREhideBox">

                <div class="tile-stats dbbgcolor3">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveCalls"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">Calls</p>
                        </b>

                        <div style="text-align:center;margin-bottom:15px;margin-left:100px;" class="count" id="BoxInsuranceLiveCRECalls"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;margin-left:80px;font-size:15px">Calls/CRE</p>
                        </b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-repeat" style="font-size: 23px"></i>
                    </div>

                </div>
            </div>



            <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-6 CremanagerHideBox">
                <div class="tile-stats dbbgcolor3">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveCalls1"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">Calls</p>
                        </b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-repeat" style="font-size: 23px"></i>
                    </div>
                </div>
            </div>

            <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-6 CREhideBox">
                <div class="tile-stats dbbgcolor4">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveNotLoggedCRECalls"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">NotDialedCRE</p>
                        </b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-download" id="InsuranceLiveNotLoggedCRECalls" title="Download" style="font-size: 23px" type="submit" onclick="ajaxGetInsuranceNoTLoggedCRESReport(); "></i>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-6 CremanagerHideBox">

                <div class="tile-stats dbbgcolor4">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveCRECalls1"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">Calls/CRE</p>
                        </b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-exchange" style="font-size: 23px"></i>
                    </div>
                </div>
            </div>


            <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-6">

                <div class="tile-stats dbbgcolor5">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveContact"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">Contacts</p>
                        </b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-phone" style="font-size: 23px"></i>
                    </div>
                </div>
            </div>


            <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-6">

                <div class="tile-stats dbbgcolor6">
                    <div class="inner">
                        <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveContactPercent"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                        <b>
                            <p style="text-align:center;margin-bottom:5px;font-size:15px">Contact(%)</p>
                        </b>
                    </div>
                    <div class="icon">
                        <i class="fa fa-percent" style="font-size: 23px"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">

        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-6">

            <div class="tile-stats dbbgcolor7">
                <div class="inner">
                    <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveFreshBook"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                    <b>
                        <p style="text-align:center;margin-bottom:5px;font-size:15px">Fresh Appt</p>
                    </b>
                </div>
                <div class="icon">
                    <i class="fa fa-list-alt" style="font-size: 23px"></i>
                </div>
            </div>
        </div>

        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-6">

            <div class="tile-stats dbbgcolor8">
                <div class="inner">
                    <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveCancelled"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                    <b>
                        <p style="text-align:center;margin-bottom:5px;font-size:15px">Cancelled</p>
                    </b>
                </div>
                <div class="icon">
                    <i class="fa fa-times" style="font-size: 23px"></i>
                </div>
            </div>
        </div>
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-6">

            <div class="tile-stats dbbgcolor9">
                <div class="inner">
                    <div class="count" style="margin-bottom:15px;" id="BoxInsuranceLiveReschedule"><img class="dashImg1" src="~/public/img/loading.gif" /></div>
                    <b>
                        <p style="text-align:center;margin-bottom:5px;font-size:15px">Re-Appt</p>
                    </b>
                </div>
                <div class="icon">
                    <i class="fa fa-book" style="font-size: 23px"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="dealer_Name" name='dealer_Name' value="@dealer_name">

<div class="col-md-12 text-center" style="padding:1px;">
    <button class="btn btn-info btn-xs pull-center" style="text-align:center;" type="submit" onclick="selectAllmultipleINSselectors(); getINSIntradaycharts();loadInsDashboard();ReloadInsuranceData();  ">&nbsp;Refresh</button>

    <p <button class="btn btn-primary btn-xs pull-right">
		<a style="text-align: center; cursor:pointer; color:#fff" data-toggle="modal" data-target="#myModal1">Filter Selection</a>
		</button>
	</p>
    <marquee style="color:red;cursor:pointer" onmouseover="this.stop();" onmouseout="this.start();">*- Call Sync is a continuous process. Final ‘Call Duration’ will be updated at end of business hours</marquee>
</div>

<div class="modal fade" id="myModal1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header" style="text-align:center;background-color: #106A86;color: #fff;">
                <button type="button" class="close" data-dismiss="modal" style="opacity:2;">
                    <img src="~/public/images/close1.png" alt="X">
                </button>
                <h4 class="modal-title">Insurance Live Data Filter</h4>
            </div>
            <div class="modal-header" style="padding: 2px;">
                <button class="btn btn-info btn-xs pull-right" type="submit" onclick="return clearFilter(); ">&nbsp;Clear All</button> <br />
            </div>
            <div class="modal-body">
                @if (Session["UserRole"].ToString() != "CRE")
                {
                    <div class="col-xs-4 crehideshow">
                        <label>CRE Name</label>
                        <div class="form-group">
                            @Html.DropDownList("LLModel", new SelectList(ViewBag.ddlcreList, "id", "userName"), new { @class = "form-control selectpickerAll", @multiple = "multiple", @data_field = "creLists", @id = "creLists" })

                        </div>
                    </div>
                }
                <div class="col-xs-4">
                    <label>Location</label>
                    <div class="form-group">
                        @Html.DropDownList("LLModel", new SelectList(ViewBag.ddlworkshopList, "id", "workshopName"), new { @class = "form-control selectpickerAll", @multiple = "multiple", @data_field = "LiveWorkshop", @id = "LiveWorkshop" })

                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Campaign Name</label>
                    <div class="form-group">
                        @Html.DropDownList("LLModel", new SelectList(ViewBag.ddlcampaignList, "id", "campaignName"), new { @class = "form-control selectpickerAll", @multiple = "multiple", @data_field = "Campaignid", @id = "Campaignid" })

                    </div>
                </div>
                @*<div class="col-xs-4">
                        <label>From Date</label>
                        <div class="form-group">
                            <input type="text" class="filter form-control datepicAppointmentFromDropDown" data-column-index="8" placeholder="Select From Date" data-field="fromDate" id="fromDate" name="fromDate" readonly>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label>To Date</label>
                        <div class="form-group">
                            <input type="text" class="filter form-control datepicAppointmentFromDropDown" data-column-index="8" placeholder="Select To Date" data-field="toDate" id="toDate" name="toDate" readonly>
                        </div>
                    </div>*@


                <div class="modal-footer" style="padding: 2px;margin-top:170px">
                    <div class="row">
                        <div class="col-xs-4 pull-right">
                            <div class="form-group">
                                <button class="btn btn-success" data-dismiss="modal" id="tblDate" onclick="getINSIntradaycharts();ReloadInsuranceData();">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="todaysInscallModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="" style="height: 239px; background-color:white;align-content:center">
            <div class="modal-header" style="text-align:center;background-color: #106A86;color: #fff;">
                <button type="button" class="close" data-dismiss="modal" style="opacity:2;">
                    <img src="~/public/images/close1.png">
                </button>
                <h4 class="modal-title">Todays Total Call</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label>Workshop Name</label>
                        <div class="form-group">
                            @Html.DropDownList("LLModel", new SelectList(ViewBag.ddlworkshopList, "id", "workshopName"), new { @class = "form-control selectpickerAll", @multiple = "multiple", @data_field = "LiveWorkshop", @id = "INScreworkshops" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" class="close" data-dismiss="modal" id="tblSMSInteractionDataLogs" onclick="getTodaysINSCREReports();"><i class="fa fa-cloud-download">  &nbsp;&nbsp;Download</i></button>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <b id='LocationLiveTable'>
                    Call ScoreCard Live Table

                </b>
                <ul class="nav navbar-right panel_toolbox">

                    <li>
                        <a id="tblInsuranceLocationLive_xl"></a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsuranceLocationLive_button" data-toggle="collapse" data-target="#tblInsuranceLocationLiveDiv" onclick="callINSprocedure(15,'tblInsuranceLocationLive');">Show</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content collapse" id="tblInsuranceLocationLiveDiv">
                <div class="">
                    <div>
                        <img id="tblInsuranceLocationLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                    </div>
                    <table id="tblInsuranceLocationLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="show_tblInsuranceIntraDaySMRLive" style="display:block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="">
                <div class="x_panel">
                    <div class="x_title">
                        <b>
                            IntraDay Live Table
                        </b>
                        <ul class="nav navbar-right panel_toolbox">

                            <li>
                                <a id="tblInsuranceIntraDaySMRLive_xl"></a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsuranceIntraDaySMRLive_button" data-toggle="collapse" data-target="#tblInsuranceIntraDaySMRLiveDiv" onclick="callINSprocedure(14,'tblInsuranceIntraDaySMRLive');">Show</button>
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content collapse" id="tblInsuranceIntraDaySMRLiveDiv">
                        <div class="">
                            <div>
                                <img id="tblInsuranceIntraDaySMRLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                            </div>
                            <table id="tblInsuranceIntraDaySMRLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="show_tblInsuranceCRECallLive" style="display:block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="">
                <div class="x_panel">
                    <div class="x_title">
                        <b id='CallScoreCardlivetable'> Location Live Table  </b>
                        <ul class="nav navbar-right panel_toolbox">

                            <li>
                                <a id="tblInsuranceCRECallLive_xl"></a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsuranceCRECallLive_button" data-toggle="collapse" data-target="#tblInsuranceCRECallLiveDiv" onclick="callINSprocedure(13,'tblInsuranceCRECallLive');">Show</button>

                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content collapse" id="tblInsuranceCRECallLiveDiv">
                        <div class="">
                            <div>
                                <img id="tblInsuranceCRECallLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                            </div>
                            <table id="tblInsuranceCRECallLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        Campaign Live Table
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblInsuranceCampaignSMRLive_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsuranceCampaignSMRLive_button" data-toggle="collapse" data-target="#tblInsuranceCampaignSMRLiveDiv" onclick="callINSprocedure(16,'tblInsuranceCampaignSMRLive');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblInsuranceCampaignSMRLiveDiv">
                    <div class="">
                        <div>
                            <img id="tblInsuranceCampaignSMRLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblInsuranceCampaignSMRLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div>

     <div class="row">   -->

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        Data Availability Live Table
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblInsuranceDataAvailSMRLive_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsuranceDataAvailSMRLive_button" data-toggle="collapse" data-target="#tblInsuranceDataAvailSMRLiveDiv" onclick="callINSprocedure(17,'tblInsuranceDataAvailSMRLive');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblInsuranceDataAvailSMRLiveDiv">
                    <div class="">
                        <div>
                            <img id="tblInsuranceDataAvailSMRLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblInsuranceDataAvailSMRLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="show_tbloverdueapptmnt">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        Over Due Appointments Live Table
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblInsOverDueLive_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsOverDueLive_button" data-toggle="collapse" data-target="#tblInsOverDueLiveDiv" onclick="callINSprocedure(18,'tblInsOverDueLive');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblInsOverDueLiveDiv">
                    <div class="">
                        <div>
                            <img id="tblInsOverDueLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblInsOverDueLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="show_tblefollowup">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        FollowUp Calls Live Table
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblInsFollowUpCallsLive_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsFollowUpCallsLive_button" data-toggle="collapse" data-target="#tblInsFollowUpCallsLiveDiv" onclick="callINSprocedure(19,'tblInsFollowUpCallsLive');">Show</button>

                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblInsFollowUpCallsLiveDiv">
                    <div class="">
                        <div>
                            <img id="tblInsFollowUpCallsLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblInsFollowUpCallsLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="show_tblenthdaylive">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        Insurance Nth Day Live
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblInsNthDayCallsLive_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsNthDayCallsLive_button" data-toggle="collapse" data-target="#tblInsNthDayCallsLiveDiv" onclick="callINSprocedure(20,'tblInsNthDayCallsLive');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblInsNthDayCallsLiveDiv">
                    <div class="">
                        <div>
                            <img id="tblInsNthDayCallsLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblInsNthDayCallsLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="show_tblen1daylive">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        Insurance(N+1)th Day Live
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblInsNminusDayCallsLive_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInsNminusDayCallsLive_button" data-toggle="collapse" data-target="#tblInsNminusDayCallsLiveDiv" onclick="callINSprocedure(21,'tblInsNminusDayCallsLive');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblInsNminusDayCallsLiveDiv">
                    <div class="">
                        <div>
                            <img id="tblInsNminusDayCallsLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblInsNminusDayCallsLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" style="display:none;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        Insurance Call History Live
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblInscallhistoryLive_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblInscallhistoryLive_button" data-toggle="collapse" data-target="#tblInscallhistoryLiveDiv" onclick="callINSprocedure(22,'tblInscallhistoryLive');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblInscallhistoryLiveDiv">
                    <div class="">
                        <div>
                            <img id="tblInscallhistoryLive_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblInscallhistoryLive" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:none;" id="IntradayInsuranceManagerDiv">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>Intra-Day</b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblIntradayInsuranceManager_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblIntradayInsuranceManager_button" data-toggle="collapse" data-target="#tblIntradayInsuranceManagerDiv" onclick="callINSprocedure(23,'tblIntradayInsuranceManager');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblIntradayInsuranceManagerDiv">
                    <div class="">
                        <div>
                            <img id="tblIntradayInsuranceManager_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblIntradayInsuranceManager" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="display:none;" id="ndayaptnmtcrestsDiv">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_panel">
                <div class="x_title">
                    <b>
                        N-Day Appointment Status
                    </b>
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <a id="tblndayinsfldapptmntstats_xl"></a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary btn-xs pull-right" id="tblndayinsfldapptmntstats_button" data-toggle="collapse" data-target="#tblndayinsfldapptmntstatsDiv" onclick="callINSprocedure(24,'tblndayinsfldapptmntstats');">Show</button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content collapse" id="tblndayinsfldapptmntstatsDiv">
                    <div class="">
                        <div>
                            <img id="tblndayinsfldapptmntstats_Spinner" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" src="~/public/img/fe.gif" />
                        </div>
                        <table id="tblndayinsfldapptmntstats" class="table table-striped table-bordered table-hover " style="width:100%;margin:0px;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-9">
        <div class="col-lg-4 " id="todayInsReportDiv" style="display:none">
            <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#todaysInscallModal"><i class="fa fa-cloud-download">  &nbsp;&nbsp;Todays Call</i></button>
        </div>
        <div class="col-lg-4 " id="fieldnthdaystatusDownDiv" style="display:none">
            <button type="button" class="btn btn-success" onclick="downloadINSReports('Ndayappointmentdata')"><i class="fa fa-cloud-download">  &nbsp;&nbsp;NDay Appointment Status</i></button>
        </div>
    </div>
</div>

<div class="row text-center" id="PSFbarChartDiv" style="display:none;">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8 panel panel-primary" id = "INScanvascontainer">
        <canvas id="INSbarChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <span class="code" id="tblException" style="font-size:11pt;font-weight:bold;color:red;"></span>
        <span class="code" id="barException" style="font-size:11pt;font-weight:bold;color:red;"></span>
    </div>
</div>

@section scripts
        {
    @Scripts.Render("~/bundles/liveRptJqury")

    <Script>

        $(document).ready(function () {
            var user_role = "@userRole";
            selectAllmultipleINSselectors();
            if (user_role == "CREManager")
            {
                $('#todayInsReportDiv').hide();
                //$('#ndayaptnmtcrestsDiv').hide();
                $('#fieldnthdaystatusDownDiv').hide();
                $('#IntradayInsuranceManagerDiv').show();
                $('.CREhideBox').show();
                $('.CremanagerHideBox').hide();
            }
            else
            {
                $('.CREhideBox').hide();
                $('.CremanagerHideBox').show();
            }
            if (user_role === "CRE")
            {
                $('#show_tblInsuranceIntraDaySMRLive').hide();
                $('#IntradayInsuranceManagerDiv').hide();
                $('#todayInsReportDiv').show();
                //$('#ndayaptnmtcrestsDiv').show();
                $('#fieldnthdaystatusDownDiv').show();
                $('#show_tblInsuranceCRECallLive').hide();
                $('#show_tblefollowup').hide();
                $('#show_tblenthdaylive').hide();
                $('#show_tblen1daylive').hide();
                $('#show_tbloverdueapptmnt').hide();
            }

           // $("#LiveWorkshop").append($('<option>', { value: "Online", text: "Online" }));


            loadInsDashboard();
            getINSIntradaycharts();



	     $('.selectpickerAll').multiselect({

		 allSelectedText: 'All',
		enableFiltering : true,
		enableCaseInsensitiveFiltering : true,
		numberDisplayed : 1,
		buttonWidth : '140px',
		maxHeight : 250,
             includeSelectAllOption : true


         });
           

var dealername  ="@dealer_name";

        });

        function loadInsDashboard()
        {

            $.ajax({
                type: "POST",
                url: siteRoot + "/InsuranceLiveForm/InsuranceLiveloadDashboardCounts/",
                data: {},
                cache: false,
                success: function (res) {
                    if (res.success == true) {
                        $('#BoxInsuranceLiveCRE').text(res.BoxInsuranceLiveCRE);
                        $('#BoxInsuranceLiveDataAvail').text(res.BoxInsuranceLiveDataAvail);
                        $('#BoxInsuranceLiveCalls').text(res.BoxInsuranceLiveCalls);
                        $('#BoxInsuranceLiveCRECalls').text(res.BoxInsuranceLiveCRECalls);
                        $('#BoxInsuranceLiveCalls1').text(res.BoxInsuranceLiveCalls1);
                        $('#BoxInsuranceLiveNotLoggedCRECalls').text(res.BoxInsuranceLiveNotLoggedCRECalls);
                        $('#BoxInsuranceLiveCRECalls1').text(res.BoxInsuranceLiveCRECalls1);
                        $('#BoxInsuranceLiveContact').text(res.BoxInsuranceLiveContact);
                        $('#BoxInsuranceLiveContactPercent').text(res.BoxInsuranceLiveContactPercent);
                        $('#BoxInsuranceLiveFreshBook').text(res.BoxInsuranceLiveFreshBook);
                        $('#BoxInsuranceLiveCancelled').text(res.BoxInsuranceLiveCancelled);
                        $('#BoxInsuranceLiveReschedule').text(res.BoxInsuranceLiveReschedule);
                    }
                    else {
                        Lobibox.notify('warning', {
                            msg: res.error
                        });
                    }
                },
                error: function (data) {
                    alert("Connection TimeOut! Please Reload the page.");
                }
            });

        }
        function selectAllmultipleINSselectors() {
            $("#LiveWorkshop").multiselect('selectAll', false);
            $("#LiveWorkshop").multiselect('updateButtonText')
            $("#Campaignid").multiselect('selectAll', false);
            $("#Campaignid").multiselect('updateButtonText')
            $("#creLists").multiselect('selectAll', false);
            $("#creLists").multiselect('updateButtonText');
            $("#INScreworkshops").multiselect('selectAll', false);
            $("#INScreworkshops").multiselect('updateButtonText');
        }


    </Script>
}




